Toma un archivo csv de ADNI y genera un archivo para train, otro para validation y otro para test.

In [98]:
trainProportion = 0.8
valProportion = 0.1
testProportion = 0.1
inputFile = 'ADNI-Full-PostProc/ADNI-FULL-PostProc_3_01_2023_UniformResolution.csv'
outputFolder = '/Users/hugom/PET-IA/Full-DBs/ADNI-MUESTRA-FULL3700'
outputFilesPrefix = 'Muestra3700_80_10_10'
randomState = 131254214

In [40]:
import pandas as pd
import os
from os import path
import math

In [99]:
trainOutputFile = path.join(outputFolder, outputFilesPrefix + '_train.csv')
valOutputFile = path.join(outputFolder, outputFilesPrefix + '_val.csv')
testOutputFile = path.join(outputFolder, outputFilesPrefix + '_test.csv')

In [44]:
csv = pd.read_csv(inputFile)

In [45]:
csv.describe()

               Age
count  3762.000000
mean     75.482988
std       7.349110
min      55.000000
25%      71.000000
50%      76.000000
75%      81.000000
max      96.000000

In [77]:
csvAD = csv[csv['Group'] == 'AD'].copy(deep=True)
csvMCI = csv[(csv['Group'] == 'MCI') | (csv['Group'] == 'LMCI') | (csv['Group'] == 'EMCI')].copy(deep=True)
csvCN = csv[csv['Group'] == 'CN'].copy(deep=True)

In [78]:
len(csvAD)

555

In [79]:
len(csvMCI)

2147

In [80]:
len(csvCN)

949

In [81]:
trainAD = math.floor(len(csvAD) * trainProportion)
valAD = math.floor(len(csvAD) * valProportion)
testAD = len(csvAD) - trainAD - valAD

trainCN = math.floor(len(csvCN) * trainProportion)
valCN = math.floor(len(csvCN) * valProportion)
testCN = len(csvCN) - trainCN - valCN

trainMCI = math.floor(len(csvMCI) * trainProportion)
valMCI = math.floor(len(csvMCI) * valProportion)
testMCI = len(csvMCI)  - trainMCI - valMCI

In [82]:
# AD
trainADSample = csvAD.sample(n = trainAD, replace=False)
csvAD = csvAD.drop(trainADSample.index)
trainADSample.describe()

              Age
count  444.000000
mean    76.036036
std      7.483529
min     56.000000
25%     72.000000
50%     76.000000
75%     81.000000
max     92.000000

In [83]:
valADSample = csvAD.sample(n = valAD, replace=False)
csvAD = csvAD.drop(valADSample.index)
valADSample.describe()

             Age
count  55.000000
mean   74.527273
std     7.831216
min    55.000000
25%    70.000000
50%    74.000000
75%    80.500000
max    88.000000

In [84]:
# Test
len(csvAD)

56

In [85]:
# CN
trainCNSample = csvCN.sample(n = trainCN, replace=False)
csvCN = csvCN.drop(trainCNSample.index)
print(len(trainCNSample))

valCNSample = csvCN.sample(n = valCN, replace=False)
csvCN = csvCN.drop(valCNSample.index)
print(len(valCNSample))
len(csvCN)

759
94

96

In [86]:
# MCI
trainMCISample = csvMCI.sample(n = trainMCI, replace=False)
csvMCI = csvMCI.drop(trainMCISample.index)
print(len(trainMCISample))

valMCISample = csvMCI.sample(n = valMCI, replace=False)
csvMCI = csvMCI.drop(valMCISample.index)
print(len(valMCISample))
len(csvMCI)

1717
214

216

In [87]:
trainCSV = pd.DataFrame(columns=csv.columns)
valCSV = pd.DataFrame(columns=csv.columns)
testCSV = pd.DataFrame(columns=csv.columns)

In [89]:
trainCSV = pd.concat([trainADSample, trainCNSample, trainMCISample], ignore_index = True)
len(trainCSV)

2920

In [90]:
valCSV = pd.concat([valADSample, valCNSample, valMCISample], ignore_index = True)
len(valCSV)

363

In [92]:
testCSV = pd.concat([csvAD, csvCN, csvMCI], ignore_index = True)
len(testCSV)

368

In [95]:
trainCSV.reset_index()
valCSV.reset_index()
testCSV.reset_index()

,index,Image Data ID,Subject,Group,Sex,Age,Visit,Modality,Description,Type,Acq Date,Format,Downloaded
0,0,I1301874,941_S_6854,AD,M,86,bl,PET,"Coreg, Avg, Std Img and Vox Siz, Uniform Resol...",Processed,2/24/2020,DCM,12/02/2022
1,1,I1241110,168_S_6735,AD,F,80,bl,PET,"Coreg, Avg, Std Img and Vox Siz, Uniform Resol...",Processed,10/14/2019,DCM,11/29/2022
2,2,I425244,137_S_4672,AD,M,69,v21,PET,"Coreg, Avg, Std Img and Vox Siz, Uniform Resol...",Processed,4/16/2014,DCM,1/09/2023
3,3,I77708,128_S_1409,AD,M,66,bl,PET,"Coreg, Avg, Std Img and Vox Siz, Uniform Resol...",Processed,6/11/2007,DCM,1/09/2023
4,4,I349197,127_S_4992,AD,F,64,v03,PET,"Coreg, Avg, Std Img and Vox Siz, Uniform Resol...",Processed,11/15/2012,DCM,11/28/2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
363,363,I858334,002_S_4799,EMCI,M,73,init,PET,"Coreg, Avg, Std Img and Vox Siz, Uniform Resol...",Processed,5/24/2017,DCM,11/28/2022
364,364,I287870,002_S_4473,EMCI,M,75,v03,PET,"Coreg, Avg, Std Img and Vox Siz, Uniform Resol...",Processed,2/28/2012,DCM,12/02/2022
365,365,I909462,002_S_4229,LMCI,M,72,init,PET,"Coreg, Avg, Std Img and Vox Siz, Uniform Resol...",Processed,9/21/2017,DCM,12/02/2022
366,366,I318309,002_S_2010,EMCI,F,65,v11,PET,"Coreg, Avg, Std Img and Vox Siz, Uniform Resol...",Processed,7/12/2012,DCM,12/02/2022
367,367,I209996,002_S_1155,MCI,M,62,m48,PET,"Coreg, Avg, Std Img and Vox Siz, Uniform Resol...",Processed,1/07/2011,DCM,1/09/2023

In [100]:
trainCSV.to_csv(trainOutputFile)
valCSV.to_csv(valOutputFile)
testCSV.to_csv(testOutputFile)