In [1]:
import pandas as pd
import numpy as np
import os
import re
import math

In [2]:
#df = pd.read_csv("ADNI-FULL-PostProc_11_29_2022.csv")
df = pd.read_csv("ADNI-FULL-PostProc_3_01_2023.csv")
df

,Image Data ID,Subject,Group,Sex,Age,Visit,Modality,Description,Type,Acq Date,Format,Downloaded
0,I1557049,941_S_7041,MCI,F,73,bl,PET,Co-registered Dynamic,Processed,3/09/2022,DCM,11/29/2022
1,I1557046,941_S_7041,MCI,F,73,bl,PET,"Coreg, Avg, Standardized Image and Voxel Size",Processed,3/09/2022,DCM,12/02/2022
2,I1557048,941_S_7041,MCI,F,73,bl,PET,"Co-registered, Averaged",Processed,3/09/2022,DCM,12/02/2022
3,I1614530,941_S_7041,MCI,F,73,bl,PET,"Coreg, Avg, Std Img and Vox Siz, Uniform 6mm Res",Processed,3/09/2022,DCM,11/29/2022
4,I1557047,941_S_7041,MCI,F,73,bl,PET,"Coreg, Avg, Std Img and Vox Siz, Uniform Resol...",Processed,3/09/2022,DCM,11/29/2022
...,...,...,...,...,...,...,...,...,...,...,...,...
17176,I240517,002_S_0295,CN,M,90,v06,PET,"Coreg, Avg, Standardized Image and Voxel Size",Processed,6/09/2011,DCM,1/09/2023
17177,I240524,002_S_0295,CN,M,90,v06,PET,"Co-registered, Averaged",Processed,6/09/2011,DCM,1/09/2023
17178,I1592036,002_S_0295,CN,M,90,v06,PET,"Coreg, Avg, Std Img and Vox Siz, Uniform 6mm Res",Processed,6/09/2011,DCM,12/02/2022
17179,I240519,002_S_0295,CN,M,90,v06,PET,"Coreg, Avg, Std Img and Vox Siz, Uniform Resol...",Processed,6/09/2011,DCM,12/02/2022
17180,I240528,002_S_0295,CN,M,90,v06,PET,Co-registered Dynamic,Processed,6/09/2011,DCM,11/28/2022

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17181 entries, 0 to 17180
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Image Data ID  17181 non-null  object
 1   Subject        17181 non-null  object
 2   Group          17181 non-null  object
 3   Sex            17181 non-null  object
 4   Age            17181 non-null  int64
 5   Visit          17181 non-null  object
 6   Modality       17181 non-null  object
 7   Description    17181 non-null  object
 8   Type           17181 non-null  object
 9   Acq Date       17181 non-null  object
 10  Format         17181 non-null  object
 11  Downloaded     17181 non-null  object
dtypes: int64(1), object(11)
memory usage: 1.6+ MB

In [4]:
# Cantidad de sujetos
df['Subject'].unique().shape

(1691,)

In [5]:
# Tipos de descripcion
df['Description'].unique()

array(['Co-registered Dynamic',
       'Coreg, Avg, Standardized Image and Voxel Size',
       'Co-registered, Averaged',
       'Coreg, Avg, Std Img and Vox Siz, Uniform 6mm Res',
       'Coreg, Avg, Std Img and Vox Siz, Uniform Resolution'],
      dtype=object)

In [6]:
df[df['Description'].str.contains('Coreg, Avg, Std Img and Vox Siz, Uniform Resolution')].shape

(3762, 12)

In [7]:
df[df['Description'].str.contains('Coreg, Avg, Std Img and Vox Siz, Uniform 6mm Res')].shape

(2703, 12)

In [8]:
df[df['Description'].str.contains('Coreg, Avg, Std Img and Vox Siz, Uniform 6mm Res')]['Subject'].unique().shape

(1400,)

In [9]:
df[df['Description'].str.contains('Coreg, Avg, Std Img and Vox Siz, Uniform Resolution')]['Subject'].unique().shape

(1687,)

Varones únicos:

In [10]:
df[df['Description'].str.contains('Coreg, Avg, Std Img and Vox Siz, Uniform Resolution') & (df['Sex'] == 'M')]['Subject'].unique().shape

(937,)

Mujeres únicas:

In [11]:
df[df['Description'].str.contains('Coreg, Avg, Std Img and Vox Siz, Uniform Resolution') & (df['Sex'] == 'F')]['Subject'].unique().shape

(750,)

In [12]:
dfu = df[df['Description'].str.contains('Coreg, Avg, Std Img and Vox Siz, Uniform Resolution')]
dfu.shape

(3762, 12)

Grupos:

In [21]:
dfu['Group'].unique()

array(['MCI', 'AD', 'SMC', 'EMCI', 'LMCI', 'CN'], dtype=object)

In [22]:
dfu.groupby('Group').describe()

          Age
        count       mean       std   min   25%   50%   75%   max
Group
AD      555.0  75.888288  7.673043  55.0  71.0  76.0  81.5  92.0
CN      949.0  76.988409  5.945682  56.0  73.0  77.0  81.0  96.0
EMCI    534.0  72.440075  7.566786  55.0  67.0  72.0  78.0  90.0
LMCI    249.0  73.349398  7.733099  55.0  68.0  74.0  78.0  94.0
MCI    1364.0  76.071848  7.587347  55.0  71.0  76.0  82.0  96.0
SMC     111.0  72.774775  5.704360  60.0  68.0  73.0  77.0  90.0

In [31]:
dfug = dfu.groupby(by=['Group', 'Sex'])
dfug.describe()

             Age
           count       mean       std   min    25%   50%    75%   max
Group Sex
AD    F    225.0  75.106667  7.704776  55.0  71.00  75.0  80.00  92.0
      M    330.0  76.421212  7.617060  56.0  72.00  77.0  82.00  92.0
CN    F    405.0  76.580247  6.299191  56.0  72.00  77.0  81.00  96.0
      M    544.0  77.292279  5.654986  60.0  73.00  77.0  81.00  91.0
EMCI  F    233.0  71.759657  8.189707  56.0  65.00  71.0  78.00  90.0
      M    301.0  72.966777  7.015618  55.0  68.00  73.0  77.00  90.0
LMCI  F    116.0  71.801724  7.842160  55.0  66.00  73.0  77.25  91.0
      M    133.0  74.699248  7.404938  56.0  70.00  75.0  80.00  94.0
MCI   F    493.0  74.902637  8.015651  55.0  70.00  75.0  81.00  96.0
      M    871.0  76.733639  7.255454  57.0  72.00  77.0  82.00  94.0
SMC   F     64.0  72.390625  5.467413  60.0  67.75  73.0  76.25  83.0
      M     47.0  73.297872  6.032214  65.0  68.00  72.0  77.50  90.0

In [32]:
dfu[dfu['Sex'] == 'M'].shape

(2226, 12)

In [33]:
dfu[dfu['Sex'] == 'F'].shape

(1536, 12)

In [34]:
dfu['Age'].describe()

count    3762.000000
mean       75.482988
std         7.349110
min        55.000000
25%        71.000000
50%        76.000000
75%        81.000000
max        96.000000
Name: Age, dtype: float64

In [37]:
dfu.groupby(by='Sex')['Age'].describe()

      count       mean       std   min   25%   50%   75%   max
Sex
F    1536.0  74.559245  7.667547  55.0  70.0  75.0  80.0  96.0
M    2226.0  76.120395  7.052603  55.0  72.0  76.0  81.0  94.0

In [35]:
dfug['Age'].describe()

           count       mean       std   min    25%   50%    75%   max
Group Sex
AD    F    225.0  75.106667  7.704776  55.0  71.00  75.0  80.00  92.0
      M    330.0  76.421212  7.617060  56.0  72.00  77.0  82.00  92.0
CN    F    405.0  76.580247  6.299191  56.0  72.00  77.0  81.00  96.0
      M    544.0  77.292279  5.654986  60.0  73.00  77.0  81.00  91.0
EMCI  F    233.0  71.759657  8.189707  56.0  65.00  71.0  78.00  90.0
      M    301.0  72.966777  7.015618  55.0  68.00  73.0  77.00  90.0
LMCI  F    116.0  71.801724  7.842160  55.0  66.00  73.0  77.25  91.0
      M    133.0  74.699248  7.404938  56.0  70.00  75.0  80.00  94.0
MCI   F    493.0  74.902637  8.015651  55.0  70.00  75.0  81.00  96.0
      M    871.0  76.733639  7.255454  57.0  72.00  77.0  82.00  94.0
SMC   F     64.0  72.390625  5.467413  60.0  67.75  73.0  76.25  83.0
      M     47.0  73.297872  6.032214  65.0  68.00  72.0  77.50  90.0

In [29]:
dfu['Subject'].unique().shape

(1687,)

In [43]:
dfu.groupby(by=['Sex'])['Age'].describe()

      count       mean       std   min   25%   50%   75%   max
Sex
F    1536.0  74.559245  7.667547  55.0  70.0  75.0  80.0  96.0
M    2226.0  76.120395  7.052603  55.0  72.0  76.0  81.0  94.0

In [44]:
df.describe()

                Age
count  17181.000000
mean      75.386532
std        7.374799
min       55.000000
25%       71.000000
50%       76.000000
75%       81.000000
max       96.000000

In [43]:
dfu6 = df[df['Description'].str.contains('Coreg, Avg, Std Img and Vox Siz, Uniform 6mm Res')]
dfu6.shape

(2703, 12)

In [44]:
dfug6 = dfu6.groupby(by=['Group', 'Sex'])
dfug6.describe()

             Age
           count       mean       std   min   25%   50%    75%   max
Group Sex
AD    F    158.0  74.101266  8.018442  55.0  71.0  74.0  79.00  92.0
      M    225.0  75.680000  7.522276  56.0  71.0  76.0  81.00  92.0
CN    F    302.0  76.178808  6.687705  56.0  72.0  76.0  81.00  96.0
      M    375.0  77.248000  5.890248  60.0  73.0  77.0  81.00  91.0
EMCI  F    199.0  71.628141  8.336509  56.0  65.0  70.0  78.00  90.0
      M    255.0  73.050980  7.044945  55.0  68.0  73.0  77.50  90.0
LMCI  F    103.0  72.009709  8.057995  55.0  66.0  73.0  78.00  91.0
      M    116.0  74.681034  7.449072  56.0  70.0  75.0  80.00  94.0
MCI   F    354.0  75.121469  8.190331  56.0  70.0  75.0  81.00  96.0
      M    519.0  76.718690  7.441526  57.0  72.0  77.0  82.00  94.0
SMC   F     57.0  72.894737  5.350848  60.0  68.0  73.0  77.00  83.0
      M     40.0  73.525000  6.308267  65.0  68.0  72.5  78.25  90.0

In [45]:
dfu6.groupby(by=['Group']).describe()

         Age
       count       mean       std   min   25%   50%   75%   max
Group
AD     383.0  75.028721  7.759589  55.0  71.0  75.0  81.0  92.0
CN     677.0  76.771049  6.276366  56.0  73.0  77.0  81.0  96.0
EMCI   454.0  72.427313  7.661881  55.0  67.0  72.0  78.0  90.0
LMCI   219.0  73.424658  7.838246  55.0  68.0  74.0  79.0  94.0
MCI    873.0  76.071019  7.788900  56.0  71.0  76.0  82.0  96.0
SMC     97.0  73.154639  5.741552  60.0  68.0  73.0  77.0  90.0

In [46]:
dfu6.groupby(by=['Sex']).describe()

        Age
      count       mean       std   min   25%   50%   75%   max
Sex
F    1173.0  74.282182  7.870951  55.0  69.0  74.0  80.0  96.0
M    1530.0  75.846405  7.159717  55.0  71.0  76.0  81.0  94.0

In [47]:
dfu6.groupby(by=['Sex'])['Age'].describe()

      count       mean       std   min   25%   50%   75%   max
Sex
F    1173.0  74.282182  7.870951  55.0  69.0  74.0  80.0  96.0
M    1530.0  75.846405  7.159717  55.0  71.0  76.0  81.0  94.0

In [48]:
dfu6['Age'].mean()

75.16759156492786

In [52]:
dfu6['Age'].std()

7.515369916504292

Varones únicos:

In [53]:
df[df['Description'].str.contains('Coreg, Avg, Std Img and Vox Siz, Uniform 6mm Res') & (df['Sex'] == 'M')]['Subject'].unique().shape

(762,)

Mujeres únicas:

In [54]:
df[df['Description'].str.contains('Coreg, Avg, Std Img and Vox Siz, Uniform 6mm Res') & (df['Sex'] == 'F')]['Subject'].unique().shape

(638,)

# PiB-PET

In [61]:
dfp = pd.read_csv("ADNI1-PIB-PET_12_05_2022.csv")
dfp

,Image Data ID,Subject,Group,Sex,Age,Visit,Modality,Description,Type,Acq Date,Format,Downloaded
0,I174162,128_S_0266,AD,M,87,4,PET,ADNI Brain PET: Raw PIB,Original,5/17/2007,HRRT,NaN
1,I179432,128_S_1407,MCI,F,76,4,PET,ADNI Brain PET: Raw PIB,Original,7/29/2008,HRRT,NaN
2,I189950,128_S_0500,CN,M,79,4,PET,ADNI Brain PET: Raw PIB,Original,5/29/2007,HRRT,NaN
3,I189456,128_S_0135,MCI,F,84,6,PET,ADNI Brain PET: Raw PIB,Original,2/22/2008,HRRT,NaN
4,I178700,128_S_1430,AD,F,84,2,PET,ADNI Brain PET: Raw PIB,Original,12/20/2007,HRRT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
223,I95165,127_S_0112,MCI,M,73,6,PET,ADNI 11C-PIB 0112,Original,2/29/2008,DCM,NaN
224,I78230,018_S_0682,AD,M,69,4,PET,3D BRAIN ADNI PIB,Original,9/04/2007,DCM,NaN
225,I76826,037_S_0627,AD,F,60,4,PET,ADNI PET Brain PIB,Original,10/04/2007,DCM,NaN
226,I103608,007_S_0344,MCI,M,81,6,PET,TRANSAXIAL:BRAIN 3D:PIB:ADNI CTAC,Original,4/23/2008,DCM,NaN
227,I118146,037_S_0566,MCI,M,81,6,PET,ADNI PET Brain PIB,Original,9/18/2008,DCM,NaN

In [63]:
dgp = dfp.groupby(by='Group')
dgp['Group'].unique()

Group
AD      [AD]
CN      [CN]
MCI    [MCI]
Name: Group, dtype: object

In [64]:
dgp.describe()

         Age                                                      Visit  \
       count       mean       std   min    25%   50%   75%   max  count
Group
AD      34.0  74.500000  8.239778  55.0  69.25  73.5  80.5  88.0   34.0
CN      49.0  79.285714  5.392897  71.0  74.00  80.0  84.0  90.0   49.0
MCI    145.0  75.972414  7.959049  56.0  71.00  76.0  82.0  90.0  145.0

                 ...            Downloaded
           mean  ...  75%   max      count mean std min 25% 50% 75% max
Group            ...
AD     4.529412  ...  6.0   6.0        0.0  NaN NaN NaN NaN NaN NaN NaN
CN     6.000000  ...  8.0  10.0        0.0  NaN NaN NaN NaN NaN NaN NaN
MCI    5.317241  ...  6.0  10.0        0.0  NaN NaN NaN NaN NaN NaN NaN

[3 rows x 24 columns]

Datos preprocesados

In [65]:
dfp = pd.read_csv("ADNI1-PIB-Preprocessed_12_06_2022.csv")
dfp

,Image Data ID,Subject,Group,Sex,Age,Visit,Modality,Description,Type,Acq Date,Format,Downloaded
0,I164032,041_S_1002,CN,F,80,8,PET,"PIB Co-registered, Averaged",Processed,12/17/2009,DCM,12/05/2022
1,I135559,127_S_0112,MCI,M,74,8,PET,"PIB Co-registered, Averaged",Processed,1/23/2009,DCM,12/05/2022
2,I109459,094_S_1402,AD,M,70,4,PET,PIB Co-registered Dynamic,Processed,6/04/2008,DCM,12/05/2022
3,I1598634,041_S_1423,MCI,M,71,4,PET,"PIB Coreg, Avg, Std Img and Vox Siz, Uniform 6...",Processed,8/04/2008,DCM,12/05/2022
4,I80971,041_S_0898,CN,F,84,4,PET,"PIB Co-registered, Averaged",Processed,11/02/2007,DCM,12/05/2022
...,...,...,...,...,...,...,...,...,...,...,...,...
1033,I1598484,041_S_1002,CN,F,78,6,PET,"PIB Coreg, Avg, Std Img and Vox Siz, Uniform 6...",Processed,11/14/2008,DCM,12/05/2022
1034,I76831,041_S_0598,MCI,M,74,4,PET,PIB Co-registered Dynamic,Processed,9/26/2007,DCM,12/05/2022
1035,I190422,128_S_0500,CN,M,79,4,PET,PIB Co-registered Dynamic,Processed,5/29/2007,DCM,12/05/2022
1036,I161811,137_S_0972,CN,M,81,8,PET,"PIB Coreg, Avg, Standardized Image and Voxel Size",Processed,12/02/2009,DCM,12/05/2022
1037,I133441,007_S_0101,MCI,M,77,8,PET,"PIB Coreg, Avg, Std Img and Vox Siz, Uniform R...",Processed,1/08/2009,DCM,12/05/2022

In [66]:
dfpg = dfp.groupby(by="Description")
dfpg

In [67]:
dfpg.describe()

                                                      Age             \
                                                    count       mean
Description
PIB Co-registered Dynamic                           203.0  76.541872
PIB Co-registered, Averaged                         203.0  76.541872
PIB Coreg, Avg, Standardized Image and Voxel Size   228.0  76.464912
PIB Coreg, Avg, Std Img and Vox Siz, Uniform 6m...  176.0  76.744318
PIB Coreg, Avg, Std Img and Vox Siz, Uniform Re...  228.0  76.464912

                                                                          \
                                                         std   min   25%
Description
PIB Co-registered Dynamic                           7.641210  55.0  72.0
PIB Co-registered, Averaged                         7.641210  55.0  72.0
PIB Coreg, Avg, Standardized Image and Voxel Size   7.658665  55.0  72.0
PIB Coreg, Avg, Std Img and Vox Siz, Uniform 6m...  7.699905  55.0  72.0
PIB Coreg, Avg, Std Img and Vox Siz, Uniform Re...  7.658665  55.0  72.0

                                                                      Visit  \
                                                     50%   75%   max  count
Description
PIB Co-registered Dynamic                           77.0  83.0  90.0  203.0
PIB Co-registered, Averaged                         77.0  83.0  90.0  203.0
PIB Coreg, Avg, Standardized Image and Voxel Size   77.0  83.0  90.0  228.0
PIB Coreg, Avg, Std Img and Vox Siz, Uniform 6m...  77.0  83.0  90.0  176.0
PIB Coreg, Avg, Std Img and Vox Siz, Uniform Re...  77.0  83.0  90.0  228.0

                                                                             \
                                                        mean       std  min
Description
PIB Co-registered Dynamic                           5.295567  1.861898  2.0
PIB Co-registered, Averaged                         5.295567  1.861898  2.0
PIB Coreg, Avg, Standardized Image and Voxel Size   5.346491  1.872155  2.0
PIB Coreg, Avg, Std Img and Vox Siz, Uniform 6m...  5.340909  1.881558  2.0
PIB Coreg, Avg, Std Img and Vox Siz, Uniform Re...  5.346491  1.872155  2.0


                                                    25%  50%  75%   max
Description
PIB Co-registered Dynamic                           4.0  6.0  6.0  10.0
PIB Co-registered, Averaged                         4.0  6.0  6.0  10.0
PIB Coreg, Avg, Standardized Image and Voxel Size   4.0  6.0  6.0  10.0
PIB Coreg, Avg, Std Img and Vox Siz, Uniform 6m...  4.0  6.0  6.0  10.0
PIB Coreg, Avg, Std Img and Vox Siz, Uniform Re...  4.0  6.0  6.0  10.0

In [68]:
dfpg2 = dfp[dfp['Description'] == 'PIB Coreg, Avg, Std Img and Vox Siz, Uniform Resolution']

In [69]:
dfpg2.groupby(by=['Group', 'Sex']).describe()

            Age                                                     Visit  \
          count       mean       std   min    25%   50%   75%   max count
Group Sex
AD    F    13.0  72.923077  9.673517  55.0  69.00  74.0  81.0  86.0  13.0
      M    21.0  75.476190  7.298075  65.0  70.00  73.0  79.0  88.0  21.0
CN    F    21.0  80.904762  4.194100  72.0  79.00  82.0  84.0  86.0  21.0
      M    28.0  78.071429  5.925016  71.0  73.00  76.5  81.5  90.0  28.0
MCI   F    48.0  74.875000  8.509382  56.0  70.75  76.0  82.0  86.0  48.0
      M    97.0  76.515464  7.659571  60.0  72.00  77.0  83.0  90.0  97.0


               mean       std  min  25%  50%  75%   max
Group Sex
AD    F    4.615385  1.502135  2.0  4.0  4.0  6.0   6.0
      M    4.476190  1.400680  2.0  4.0  4.0  6.0   6.0
CN    F    6.095238  1.841325  4.0  4.0  6.0  8.0  10.0
      M    5.928571  1.762334  4.0  4.0  6.0  8.0  10.0
MCI   F    5.083333  1.843139  2.0  4.0  5.0  6.0   8.0
      M    5.432990  1.962711  2.0  4.0  6.0  6.0  10.0

In [70]:
dfpg2.groupby(by=['Group']).describe()

         Age                                                      Visit  \
       count       mean       std   min    25%   50%   75%   max  count
Group
AD      34.0  74.500000  8.239778  55.0  69.25  73.5  80.5  88.0   34.0
CN      49.0  79.285714  5.392897  71.0  74.00  80.0  84.0  90.0   49.0
MCI    145.0  75.972414  7.959049  56.0  71.00  76.0  82.0  90.0  145.0


           mean       std  min  25%  50%  75%   max
Group
AD     4.529412  1.419246  2.0  4.0  4.0  6.0   6.0
CN     6.000000  1.779513  4.0  4.0  6.0  8.0  10.0
MCI    5.317241  1.924634  2.0  4.0  6.0  6.0  10.0

In [71]:
dfpg2.groupby(by=['Sex']).describe()

       Age                                                      Visit  \
     count       mean       std   min   25%   50%    75%   max  count
Sex
F     82.0  76.109756  8.289524  55.0  72.0  78.0  82.75  86.0   82.0
M    146.0  76.664384  7.302600  60.0  72.0  76.0  83.00  90.0  146.0


         mean       std  min  25%  50%  75%   max
Sex
F    5.268293  1.846243  2.0  4.0  6.0  6.0  10.0
M    5.390411  1.891445  2.0  4.0  6.0  6.0  10.0

In [95]:
dfpg2[dfpg2['Sex'] == 'F']['Subject'].unique().shape

(36,)

In [96]:
dfpg2[dfpg2['Sex'] == 'M']['Subject'].unique().shape

(67,)

In [72]:
dfpg3 = dfp[dfp['Description'] == 'PIB Coreg, Avg, Std Img and Vox Siz, Uniform 6mm Res']
dfpg3.groupby(by='Group').describe()

         Age                                                       Visit  \
       count       mean       std   min    25%   50%    75%   max  count
Group
AD      26.0  75.076923  8.840466  55.0  70.25  75.0  82.75  88.0   26.0
CN      45.0  79.377778  5.544403  71.0  74.00  80.0  84.00  90.0   45.0
MCI    105.0  76.028571  7.984910  60.0  71.00  76.0  83.00  90.0  105.0


           mean       std  min  25%  50%  75%   max
Group
AD     4.461538  1.529203  2.0  4.0  4.0  6.0   6.0
CN     6.000000  1.809068  4.0  4.0  6.0  8.0  10.0
MCI    5.276190  1.903919  2.0  4.0  6.0  6.0  10.0

In [73]:
dfpg3.groupby(by='Sex').describe()

       Age                                                      Visit  \
     count       mean       std   min    25%   50%   75%   max  count
Sex
F     70.0  77.314286  7.553755  55.0  73.25  79.0  83.0  86.0   70.0
M    106.0  76.367925  7.807598  60.0  71.00  75.0  83.0  90.0  106.0


         mean       std  min  25%  50%  75%   max
Sex
F    5.257143  1.870331  2.0  4.0  6.0  6.0  10.0
M    5.396226  1.895756  2.0  4.0  6.0  6.0  10.0

In [74]:
dfpg3.groupby(by=['Group', 'Sex']).describe()

            Age                                                       Visit  \
          count       mean        std   min    25%   50%    75%   max count
Group Sex
AD    F     9.0  71.777778  10.837179  55.0  61.00  74.0  77.00  86.0   9.0
      M    17.0  76.823529   7.350470  66.0  71.00  77.0  85.00  88.0  17.0
CN    F    21.0  80.904762   4.194100  72.0  79.00  82.0  84.00  86.0  21.0
      M    24.0  78.041667   6.286488  71.0  73.00  75.5  83.25  90.0  24.0
MCI   F    40.0  76.675000   7.307837  61.0  72.75  78.0  82.25  86.0  40.0
      M    65.0  75.630769   8.404926  60.0  70.00  75.0  83.00  90.0  65.0


               mean       std  min  25%  50%  75%   max
Group Sex
AD    F    4.444444  1.666667  2.0  4.0  4.0  6.0   6.0
      M    4.470588  1.504894  2.0  4.0  4.0  6.0   6.0
CN    F    6.095238  1.841325  4.0  4.0  6.0  8.0  10.0
      M    5.916667  1.815792  4.0  4.0  6.0  8.0  10.0
MCI   F    5.000000  1.811643  2.0  4.0  4.0  6.0   8.0
      M    5.446154  1.952809  2.0  4.0  6.0  6.0  10.0

In [97]:
dfpg3[dfpg3['Sex'] == 'F']['Subject'].unique().shape

(31,)

In [98]:
dfpg3[dfpg3['Sex'] == 'M']['Subject'].unique().shape

(50,)

# Fleni

In [5]:
csv = pd.read_csv('/Users/hugom/PET-IA/Full-DBs/fleni-base-myrian/match.csv')

In [6]:
csv[csv.duplicated('pet_id', keep=False)]

     Unnamed: 0  Unnamed: 0.1                                       anon_id  \
1             1             1                                           NaN
5             5             5                                           NaN
6             6             6  82492442-313797f9-20456fb1-e93414ad-69e5d284
8             8             8  47e66e37-7cf35782-f172c260-1cd37119-2c6bf4db
12           12            12                                           NaN
..          ...           ...                                           ...
234         234           255  50b4f5c1-43cbe80d-0d499cc4-525a4752-cb02a377
235         235           256  f301e2e5-ef504c7a-adfe1c95-ef3b1c97-75b21599
236         236           257  c0ed3dcd-9c7e8e50-067ce990-f4417a65-4c5b379f
237         237           258  179ffba1-0dbc255c-ec399ad4-962ed53a-a19a0bff
238         238           259  f1b927dc-db9ba0ef-0e204f32-8ebbc85f-be0fe49a

                            Unnamed: 1  Participant ID               Name  \
1    no hay PET. Las RM son desde 2020          8964.0       MARIA TERESA
5     no hay estudios de este paciente         17791.0           HORACIO^
6                                  NaN         20864.0      ALBERTO RAMON
8                                  NaN         29432.0        JOSE MARIA
12                        dice anulada         47467.0   HECTOR (ANULADA)
..                                 ...             ...                ...
234                                NaN        703380.0          FERNANDO
235                                NaN        712848.0      LIVIA LUCIANA
236                                NaN        715946.0        PEDRO MARIA
237                                NaN        717824.0           PATRICIO
238                                NaN        718566.0  GUILLERMO AUGUSTO

             Surname                Nombre T1        AN_MRI    Date_MRI  ...  \
1    BILBAO LA VIEJA                      NaN  9.275001e+12         NaN  ...
5    GARCIA BELSUNCE                      NaN           NaN         NaN  ...
6              LOPEZ                 FSPGR 3D  9.275000e+12  2015-10-21  ...
8     SAENZ VALIENTE                      NaN           NaN         NaN  ...
12            MASONI                      NaN           NaN         NaN  ...
..               ...                      ...           ...         ...  ...
234          BARROS               Ax FSPGR 3D  9.275001e+12  2020-09-11  ...
235             DEON  Accelerated Ax IR-FSPGR  9.275001e+12  2021-01-08  ...
236           PAILHE  Accelerated Ax IR-FSPGR  9.275001e+12  2021-02-11  ...
237           MURPHY              Ax FSPGR 3D  9.275001e+12  2021-05-16  ...
238          BASILIO  Accelerated Ax IR-FSPGR  9.275001e+12  2021-04-03  ...

     gctx-bilat-occipital_rel gctx-bilat-occipital_per  \
1                         NaN                      NaN
5                         NaN                      NaN
6                    0.027379                     33.7
8                    0.028084                     12.2
12                        NaN                      NaN
..                        ...                      ...
234                  0.018745                      1.0
235                  0.030842                     44.2
236                  0.031266                     34.0
237                  0.023596                      1.0
238                  0.029793                     24.0

    gctx-bilat-parietal_abs gctx-bilat-parietal_rel gctx-bilat-parietal_per  \
1                       NaN                     NaN                     NaN
5                       NaN                     NaN                     NaN
6              1.131856e+16                0.072109                    21.4
8              1.138184e+15                0.070784                     1.9
12                      NaN                     NaN                     NaN
..                      ...                     ...                     ...
234            1.133951e+14                0.074534                     3.3
235            1.064728e+16                0.076410                    14.9
236            1.367143e+15                0.085687                    36.6
237            1.158759e+16                0.065948                     1.0
238            1.156662e+16                0.074629                     4.5

    gctx-bilat-temporal_abs gctx-bilat-temporal_rel gctx-bilat-temporal_per  \
1                       NaN                     NaN                     NaN
5                       NaN                     NaN                     NaN
6              9.390920e+15                0.059828                    27.1
8              8.260428e+15                0.051372                     1.0
12                      NaN                     NaN                     NaN
..                      ...                     ...                     ...
234            9.487423e+15                0.062360                     5.5
235            8.270453e+15                0.059353                     5.2
236            1.054083e+16                0.066066                    19.6
237            1.034558e+16                0.058879                     1.0
238            1.045008e+16                0.067425                    34.1

    ,anon_id,Unnamed: 1,Participant ID,Name,Surname,Nombre T1,AN_MRI,Date_MRI,Age at diagnostic visit (in years),Diagnostico Presuntivo,Age at death,Age at symptom onset,Sex,Education,APOE4 status,CSF amyloid positivity (yes/no),PET PiB amyloid positivity (yes/no),PET tau positivity (yes/no),FDG PET (hypometabolism profile),diag,unknown_abs,unknown_rel,unknown_per,left-cerebral-white-matter_abs,left-cerebral-white-matter_rel,left-cerebral-white-matter_per,left-cerebral-cortex_abs,left-cerebral-cortex_rel,left-cerebral-cortex_per,supratentorial_ventricles_abs,supratentorial_ventricles_rel,supratentorial_ventricles_per,left-cerebellum-white-matter_abs,left-cerebellum-white-matter_rel,left-cerebellum-white-matter_per,left-cerebellum-cortex_abs,left-cerebellum-cortex_rel,left-cerebellum-cortex_per,left-thalamus-proper*_abs,left-thalamus-proper*_rel,left-thalamus-proper*_per,left-caudate_abs,left-caudate_rel,left-caudate_per,left-putamen_abs,left-putamen_rel,left-putamen_per,left-pallidum_abs,left-pallidum_rel,left-pallidum_per,4th-ventricle_abs,4th-ventricle_rel,4th-ventricle_per,brain-stem_abs,brain-stem_rel,brain-stem_per,left-hippocampus_abs,left-hippocampus_rel,left-hippocampus_per,left-amygdala_abs,left-amygdala_rel,left-amygdala_per,csf-freesurfer_abs,csf-freesurfer_rel,csf-freesurfer_per,left-accumbens-area_abs,left-accumbens-area_rel,left-accumbens-area_per,left-ventraldc_abs,left-ventraldc_rel,left-ventraldc_per,right-cerebral-white-matter_abs,right-cerebral-white-matter_rel,right-cerebral-white-matter_per,right-cerebral-cortex_abs,right-cerebral-cortex_rel,right-cerebral-cortex_per,right-cerebellum-white-matter_abs,right-cerebellum-white-matter_rel,right-cerebellum-white-matter_per,right-cerebellum-cortex_abs,right-cerebellum-cortex_rel,right-cerebellum-cortex_per,right-thalamus-proper*_abs,right-thalamus-proper*_rel,right-thalamus-proper*_per,right-caudate_abs,right-caudate_rel,right-caudate_per,right-putamen_abs,right-putamen_rel,right-putamen_per,right-pallidum_abs,right-pallidum_rel,right-pallidum_per,right-hippocampus_abs,right-hippocampus_rel,right-hippocampus_per,right-amygdala_abs,right-amygdala_rel,right-amygdala_per,right-accumbens-area_abs,right-accumbens-area_rel,right-accumbens-area_per,right-ventraldc_abs,right-ventraldc_rel,right-ventraldc_per,corpus_callosum_abs,corpus_callosum_rel,corpus_callosum_per,ctx-lh-superior+transversetemporal_abs,ctx-lh-superior+transversetemporal_rel,ctx-lh-superior+transversetemporal_per,ctx-lh-cingulo_abs,ctx-lh-cingulo_rel,ctx-lh-cingulo_per,ctx-lh-frontalsuperiorandmiddle_abs,ctx-lh-frontalsuperiorandmiddle_rel,ctx-lh-frontalsuperiorandmiddle_per,ctx-lh-superiorparietal+postcentral_abs,ctx-lh-superiorparietal+postcentral_rel,ctx-lh-superiorparietal+postcentral_per,ctx-lh-inferiorparietal_abs,ctx-lh-inferiorparietal_rel,ctx-lh-inferiorparietal_per,ctx-lh-medialoccipital_abs,ctx-lh-medialoccipital_rel,ctx-lh-medialoccipital_per,ctx-lh-parahippocampal+fusiform+entorhinal_abs,ctx-lh-parahippocampal+fusiform+entorhinal_rel,ctx-lh-parahippocampal+fusiform+entorhinal_per,ctx-lh-middle+inferiortemporal+pole_abs,ctx-lh-middle+inferiortemporal+pole_rel,ctx-lh-middle+inferiortemporal+pole_per,ctx-lh-lateraloccipital_abs,ctx-lh-lateraloccipital_rel,ctx-lh-lateraloccipital_per,ctx-lh-orbitofrontal_abs,ctx-lh-orbitofrontal_rel,ctx-lh-orbitofrontal_per,ctx-lh-precentral+paracentral_abs,ctx-lh-precentral+paracentral_rel,ctx-lh-precentral+paracentral_per,ctx-lh-frontalinferior_abs,ctx-lh-frontalinferior_rel,ctx-lh-frontalinferior_per,ctx-lh-precuneus_abs,ctx-lh-precuneus_rel,ctx-lh-precuneus_per,ctx-lh-insula_abs,ctx-lh-insula_rel,ctx-lh-insula_per,ctx-rh-superior+transversetemporal_abs,ctx-rh-superior+transversetemporal_rel,ctx-rh-superior+transversetemporal_per,ctx-rh-cingulo_abs,ctx-rh-cingulo_rel,ctx-rh-cingulo_per,ctx-rh-frontalsuperiorandmiddle_abs,ctx-rh-frontalsuperiorandmiddle_rel,ctx-rh-frontalsuperiorandmiddle_per,ctx-rh-superiorparietal+postcentral_abs,ctx-rh-superiorparietal+postcentral_rel,ctx-rh-superiorparietal+postcentral_per,ctx-rh-inferiorparietal_abs,ctx-rh-inferiorparietal_rel,ctx-rh-inferiorparietal_per,ctx-rh-medialoccipital_abs,ctx-rh-medialoccipital_rel,ctx-rh-medialoccipital_per,ctx-rh-parahippocampal+fusiform+entorhinal_abs,ctx-rh-parahippocampal+fusiform+entorhinal_rel,ctx-rh-parahippocampal+fusiform+entorhinal_per,ctx-rh-middle+inferiortemporal+pole_abs,ctx-rh-middle+inferiortemporal+pole_rel,ctx-rh-middle+inferiortemporal+pole_per,ctx-rh-lateraloccipital_abs,ctx-rh-lateraloccipital_rel,ctx-rh-lateraloccipital_per,ctx-rh-orbitofrontal_abs,ctx-rh-orbitofrontal_rel,ctx-rh-orbitofrontal_per,ctx-rh-precentral+paracentral_abs,ctx-rh-precentral+paracentral_rel,ctx-rh-precentral+paracentral_per,ctx-rh-frontalinferior_abs,ctx-rh-frontalinferior_rel,ctx-rh-frontalinferior_per,ctx-rh-precuneus_abs,ctx-rh-precuneus_rel,ctx-rh-precuneus_per,ctx-rh-insula_abs,ctx-rh-insula_rel,ctx-rh-insula_per,brain_abs,brain_rel,brain_per,wm_abs,wm_rel,wm_per,gm_abs,gm_rel,gm_per,csf_abs,csf_rel,csf_per,cerebellum_abs,cerebellum_rel,cerebellum_per,bpf_abs,bpf_rel,bpf_per,evans_abs,evans_rel,evans_per,gctx-lh-frontal_abs,gctx-lh-frontal_rel,gctx-lh-frontal_per,gctx-lh-insula_abs,gctx-lh-insula_rel,gctx-lh-insula_per,gctx-lh-occipital_abs,gctx-lh-occipital_rel,gctx-lh-occipital_per,gctx-lh-parietal_abs,gctx-lh-parietal_rel,gctx-lh-parietal_per,gctx-lh-temporal_abs,gctx-lh-temporal_rel,gctx-lh-temporal_per,gctx-rh-frontal_abs,gctx-rh-frontal_rel,gctx-rh-frontal_per,gctx-rh-insula_abs,gctx-rh-insula_rel,gctx-rh-insula_per,gctx-rh-occipital_abs,gctx-rh-occipital_rel,gctx-rh-occipital_per,gctx-rh-parietal_abs,gctx-rh-parietal_rel,gctx-rh-parietal_per,gctx-rh-temporal_abs,gctx-rh-temporal_rel,gctx-rh-temporal_per,gctx-bilat-frontal_abs,gctx-bilat-frontal_rel,gctx-bilat-frontal_per,gctx-bilat-insula_abs,gctx-bilat-insula_rel,gctx-bilat-insula_per,gctx-bilat-occipital_abs,gctx-bilat-occipital_rel,gctx-bilat-occipital_per,gctx-bilat-parietal_abs,gctx-bilat-parietal_rel,gctx-bilat-parietal_per,gctx-bilat-temporal_abs,gctx-bilat-temporal_rel,gctx-bilat-temporal_per  \
1    1,,no hay PET. Las RM son desde 2020,8964.0,MA...
5    5,,,17791.0,HORACIO^,GARCIA BELSUNCE,,,,96.0,D...
6    6,82492442-313797f9-20456fb1-e93414ad-69e5d284...
8    8,47e66e37-7cf35782-f172c260-1cd37119-2c6bf4db...
12   12,,dice anulada,47467.0,HECTOR (ANULADA),MASO...
..                                                 ...
234  255,50b4f5c1-43cbe80d-0d499cc4-525a4752-cb02a3...
235  256,f301e2e5-ef504c7a-adfe1c95-ef3b1c97-75b215...
236  257,c0ed3dcd-9c7e8e50-067ce990-f4417a65-4c5b37...
237  258,179ffba1-0dbc255c-ec399ad4-962ed53a-a19a0b...
238  259,f1b927dc-db9ba0ef-0e204f32-8ebbc85f-be0fe4...

                                           pet_id
1                                               -
5                                               -
6    ad80ea14-f27dad6f-3e12c1f0-2993bcc3-4cb99a80
8                                               -
12                                              -
..                                            ...
234                                             -
235                                             -
236                                             -
237                                             -
238                                             -

[130 rows x 264 columns]

TODO : revisar qué está pasando con estos duplicados

In [7]:
csv

     Unnamed: 0  Unnamed: 0.1                                       anon_id  \
0             0             0  601894e9-7192ca44-617903f9-b7775028-b7db3c01
1             1             1                                           NaN
2             2             2  26f052fa-48d0929f-43515de0-ab857928-4ee712ec
3             3             3  9c673f58-f5bfbaf0-ff226082-410ef24e-e7d8ff4a
4             4             4  0f5ab5b2-c7051e97-42563753-f7f14410-29b463dd
..          ...           ...                                           ...
234         234           255  50b4f5c1-43cbe80d-0d499cc4-525a4752-cb02a377
235         235           256  f301e2e5-ef504c7a-adfe1c95-ef3b1c97-75b21599
236         236           257  c0ed3dcd-9c7e8e50-067ce990-f4417a65-4c5b379f
237         237           258  179ffba1-0dbc255c-ec399ad4-962ed53a-a19a0bff
238         238           259  f1b927dc-db9ba0ef-0e204f32-8ebbc85f-be0fe49a

                            Unnamed: 1  Participant ID                Name  \
0                                  NaN          3370.0             NICOLAS
1    no hay PET. Las RM son desde 2020          8964.0        MARIA TERESA
2                                  NaN         13512.0        MARTA SUSANA
3                                  NaN         13778.0    LIDIA AIDA NOEMI
4                                  NaN         15076.0  ALEJANDRA PATRICIA
..                                 ...             ...                 ...
234                                NaN        703380.0           FERNANDO
235                                NaN        712848.0       LIVIA LUCIANA
236                                NaN        715946.0         PEDRO MARIA
237                                NaN        717824.0            PATRICIO
238                                NaN        718566.0   GUILLERMO AUGUSTO

             Surname                 Nombre T1        AN_MRI    Date_MRI  ...  \
0               RIGA           3D fSPGR-IRprep  9.275000e+12  2013-07-04  ...
1    BILBAO LA VIEJA                       NaN  9.275001e+12         NaN  ...
2           EVRANIAN                  FSPGR 3D  9.275000e+12  2015-06-29  ...
3           WILENSKY   Accelerated Ax IR-FSPGR  9.275001e+12  2019-06-19  ...
4            FONTANA  Accelerated SAG IR-FSPGR  9.275001e+12  2017-08-04  ...
..               ...                       ...           ...         ...  ...
234          BARROS                Ax FSPGR 3D  9.275001e+12  2020-09-11  ...
235             DEON   Accelerated Ax IR-FSPGR  9.275001e+12  2021-01-08  ...
236           PAILHE   Accelerated Ax IR-FSPGR  9.275001e+12  2021-02-11  ...
237           MURPHY               Ax FSPGR 3D  9.275001e+12  2021-05-16  ...
238          BASILIO   Accelerated Ax IR-FSPGR  9.275001e+12  2021-04-03  ...

     gctx-bilat-occipital_rel gctx-bilat-occipital_per  \
0                    0.027904                     11.9
1                         NaN                      NaN
2                    0.036981                     93.7
3                    0.027322                      8.9
4                    0.036672                     83.6
..                        ...                      ...
234                  0.018745                      1.0
235                  0.030842                     44.2
236                  0.031266                     34.0
237                  0.023596                      1.0
238                  0.029793                     24.0

    gctx-bilat-parietal_abs gctx-bilat-parietal_rel gctx-bilat-parietal_per  \
0              1.334525e+16                0.086964                    54.5
1                       NaN                     NaN                     NaN
2              1.157804e+16                0.082528                    35.8
3              9.642489e+15                0.070050                     1.9
4              1.333215e+16                0.088888                    46.6
..                      ...                     ...                     ...
234            1.133951e+14                0.074534                     3.3
235            1.064728e+16                0.076410                    14.9
236            1.367143e+15                0.085687                    36.6
237            1.158759e+16                0.065948                     1.0
238            1.156662e+16                0.074629                     4.5

    gctx-bilat-temporal_abs gctx-bilat-temporal_rel gctx-bilat-temporal_per  \
0              1.035334e+16                0.067468                    36.4
1                       NaN                     NaN                     NaN
2              9.217053e+15                0.065699                    29.7
3              7.203079e+15                0.052328                     1.0
4              9.954130e+15                0.066366                    16.3
..                      ...                     ...                     ...
234            9.487423e+15                0.062360                     5.5
235            8.270453e+15                0.059353                     5.2
236            1.054083e+16                0.066066                    19.6
237            1.034558e+16                0.058879                     1.0
238            1.045008e+16                0.067425                    34.1

    ,anon_id,Unnamed: 1,Participant ID,Name,Surname,Nombre T1,AN_MRI,Date_MRI,Age at diagnostic visit (in years),Diagnostico Presuntivo,Age at death,Age at symptom onset,Sex,Education,APOE4 status,CSF amyloid positivity (yes/no),PET PiB amyloid positivity (yes/no),PET tau positivity (yes/no),FDG PET (hypometabolism profile),diag,unknown_abs,unknown_rel,unknown_per,left-cerebral-white-matter_abs,left-cerebral-white-matter_rel,left-cerebral-white-matter_per,left-cerebral-cortex_abs,left-cerebral-cortex_rel,left-cerebral-cortex_per,supratentorial_ventricles_abs,supratentorial_ventricles_rel,supratentorial_ventricles_per,left-cerebellum-white-matter_abs,left-cerebellum-white-matter_rel,left-cerebellum-white-matter_per,left-cerebellum-cortex_abs,left-cerebellum-cortex_rel,left-cerebellum-cortex_per,left-thalamus-proper*_abs,left-thalamus-proper*_rel,left-thalamus-proper*_per,left-caudate_abs,left-caudate_rel,left-caudate_per,left-putamen_abs,left-putamen_rel,left-putamen_per,left-pallidum_abs,left-pallidum_rel,left-pallidum_per,4th-ventricle_abs,4th-ventricle_rel,4th-ventricle_per,brain-stem_abs,brain-stem_rel,brain-stem_per,left-hippocampus_abs,left-hippocampus_rel,left-hippocampus_per,left-amygdala_abs,left-amygdala_rel,left-amygdala_per,csf-freesurfer_abs,csf-freesurfer_rel,csf-freesurfer_per,left-accumbens-area_abs,left-accumbens-area_rel,left-accumbens-area_per,left-ventraldc_abs,left-ventraldc_rel,left-ventraldc_per,right-cerebral-white-matter_abs,right-cerebral-white-matter_rel,right-cerebral-white-matter_per,right-cerebral-cortex_abs,right-cerebral-cortex_rel,right-cerebral-cortex_per,right-cerebellum-white-matter_abs,right-cerebellum-white-matter_rel,right-cerebellum-white-matter_per,right-cerebellum-cortex_abs,right-cerebellum-cortex_rel,right-cerebellum-cortex_per,right-thalamus-proper*_abs,right-thalamus-proper*_rel,right-thalamus-proper*_per,right-caudate_abs,right-caudate_rel,right-caudate_per,right-putamen_abs,right-putamen_rel,right-putamen_per,right-pallidum_abs,right-pallidum_rel,right-pallidum_per,right-hippocampus_abs,right-hippocampus_rel,right-hippocampus_per,right-amygdala_abs,right-amygdala_rel,right-amygdala_per,right-accumbens-area_abs,right-accumbens-area_rel,right-accumbens-area_per,right-ventraldc_abs,right-ventraldc_rel,right-ventraldc_per,corpus_callosum_abs,corpus_callosum_rel,corpus_callosum_per,ctx-lh-superior+transversetemporal_abs,ctx-lh-superior+transversetemporal_rel,ctx-lh-superior+transversetemporal_per,ctx-lh-cingulo_abs,ctx-lh-cingulo_rel,ctx-lh-cingulo_per,ctx-lh-frontalsuperiorandmiddle_abs,ctx-lh-frontalsuperiorandmiddle_rel,ctx-lh-frontalsuperiorandmiddle_per,ctx-lh-superiorparietal+postcentral_abs,ctx-lh-superiorparietal+postcentral_rel,ctx-lh-superiorparietal+postcentral_per,ctx-lh-inferiorparietal_abs,ctx-lh-inferiorparietal_rel,ctx-lh-inferiorparietal_per,ctx-lh-medialoccipital_abs,ctx-lh-medialoccipital_rel,ctx-lh-medialoccipital_per,ctx-lh-parahippocampal+fusiform+entorhinal_abs,ctx-lh-parahippocampal+fusiform+entorhinal_rel,ctx-lh-parahippocampal+fusiform+entorhinal_per,ctx-lh-middle+inferiortemporal+pole_abs,ctx-lh-middle+inferiortemporal+pole_rel,ctx-lh-middle+inferiortemporal+pole_per,ctx-lh-lateraloccipital_abs,ctx-lh-lateraloccipital_rel,ctx-lh-lateraloccipital_per,ctx-lh-orbitofrontal_abs,ctx-lh-orbitofrontal_rel,ctx-lh-orbitofrontal_per,ctx-lh-precentral+paracentral_abs,ctx-lh-precentral+paracentral_rel,ctx-lh-precentral+paracentral_per,ctx-lh-frontalinferior_abs,ctx-lh-frontalinferior_rel,ctx-lh-frontalinferior_per,ctx-lh-precuneus_abs,ctx-lh-precuneus_rel,ctx-lh-precuneus_per,ctx-lh-insula_abs,ctx-lh-insula_rel,ctx-lh-insula_per,ctx-rh-superior+transversetemporal_abs,ctx-rh-superior+transversetemporal_rel,ctx-rh-superior+transversetemporal_per,ctx-rh-cingulo_abs,ctx-rh-cingulo_rel,ctx-rh-cingulo_per,ctx-rh-frontalsuperiorandmiddle_abs,ctx-rh-frontalsuperiorandmiddle_rel,ctx-rh-frontalsuperiorandmiddle_per,ctx-rh-superiorparietal+postcentral_abs,ctx-rh-superiorparietal+postcentral_rel,ctx-rh-superiorparietal+postcentral_per,ctx-rh-inferiorparietal_abs,ctx-rh-inferiorparietal_rel,ctx-rh-inferiorparietal_per,ctx-rh-medialoccipital_abs,ctx-rh-medialoccipital_rel,ctx-rh-medialoccipital_per,ctx-rh-parahippocampal+fusiform+entorhinal_abs,ctx-rh-parahippocampal+fusiform+entorhinal_rel,ctx-rh-parahippocampal+fusiform+entorhinal_per,ctx-rh-middle+inferiortemporal+pole_abs,ctx-rh-middle+inferiortemporal+pole_rel,ctx-rh-middle+inferiortemporal+pole_per,ctx-rh-lateraloccipital_abs,ctx-rh-lateraloccipital_rel,ctx-rh-lateraloccipital_per,ctx-rh-orbitofrontal_abs,ctx-rh-orbitofrontal_rel,ctx-rh-orbitofrontal_per,ctx-rh-precentral+paracentral_abs,ctx-rh-precentral+paracentral_rel,ctx-rh-precentral+paracentral_per,ctx-rh-frontalinferior_abs,ctx-rh-frontalinferior_rel,ctx-rh-frontalinferior_per,ctx-rh-precuneus_abs,ctx-rh-precuneus_rel,ctx-rh-precuneus_per,ctx-rh-insula_abs,ctx-rh-insula_rel,ctx-rh-insula_per,brain_abs,brain_rel,brain_per,wm_abs,wm_rel,wm_per,gm_abs,gm_rel,gm_per,csf_abs,csf_rel,csf_per,cerebellum_abs,cerebellum_rel,cerebellum_per,bpf_abs,bpf_rel,bpf_per,evans_abs,evans_rel,evans_per,gctx-lh-frontal_abs,gctx-lh-frontal_rel,gctx-lh-frontal_per,gctx-lh-insula_abs,gctx-lh-insula_rel,gctx-lh-insula_per,gctx-lh-occipital_abs,gctx-lh-occipital_rel,gctx-lh-occipital_per,gctx-lh-parietal_abs,gctx-lh-parietal_rel,gctx-lh-parietal_per,gctx-lh-temporal_abs,gctx-lh-temporal_rel,gctx-lh-temporal_per,gctx-rh-frontal_abs,gctx-rh-frontal_rel,gctx-rh-frontal_per,gctx-rh-insula_abs,gctx-rh-insula_rel,gctx-rh-insula_per,gctx-rh-occipital_abs,gctx-rh-occipital_rel,gctx-rh-occipital_per,gctx-rh-parietal_abs,gctx-rh-parietal_rel,gctx-rh-parietal_per,gctx-rh-temporal_abs,gctx-rh-temporal_rel,gctx-rh-temporal_per,gctx-bilat-frontal_abs,gctx-bilat-frontal_rel,gctx-bilat-frontal_per,gctx-bilat-insula_abs,gctx-bilat-insula_rel,gctx-bilat-insula_per,gctx-bilat-occipital_abs,gctx-bilat-occipital_rel,gctx-bilat-occipital_per,gctx-bilat-parietal_abs,gctx-bilat-parietal_rel,gctx-bilat-parietal_per,gctx-bilat-temporal_abs,gctx-bilat-temporal_rel,gctx-bilat-temporal_per  \
0    0,601894e9-7192ca44-617903f9-b7775028-b7db3c01...
1    1,,no hay PET. Las RM son desde 2020,8964.0,MA...
2    2,26f052fa-48d0929f-43515de0-ab857928-4ee712ec...
3    3,9c673f58-f5bfbaf0-ff226082-410ef24e-e7d8ff4a...
4    4,0f5ab5b2-c7051e97-42563753-f7f14410-29b463dd...
..                                                 ...
234  255,50b4f5c1-43cbe80d-0d499cc4-525a4752-cb02a3...
235  256,f301e2e5-ef504c7a-adfe1c95-ef3b1c97-75b215...
236  257,c0ed3dcd-9c7e8e50-067ce990-f4417a65-4c5b37...
237  258,179ffba1-0dbc255c-ec399ad4-962ed53a-a19a0b...
238  259,f1b927dc-db9ba0ef-0e204f32-8ebbc85f-be0fe4...

                                           pet_id
0    b87479c8-641ec909-8b8effc1-9b58a18a-573f8414
1                                               -
2    e5a4f8b8-f6ad7d45-52b4b6e8-f3ebf6cd-c8e8f25b
3    c96cbd4d-f9cfda98-8bd71bc1-e26e87e3-e25c6d50
4    b172e084-61708876-5cb503da-b65f4f85-e1c4e110
..                                            ...
234                                             -
235                                             -
236                                             -
237                                             -
238                                             -

[239 rows x 264 columns]

In [52]:
csv['Diagnostico Presuntivo']

0      Deterioro cognitivo leve amnÃƒÂ©sico multidominio
1      Deterioro cognitivo leve amnÃƒÂ©sico multidominio
2              Deterioro cognitivo leve amnÃƒÂ©sico puro
3      Deterioro cognitivo leve amnÃƒÂ©sico multidominio
4      Deterioro cognitivo leve amnÃƒÂ©sico multidominio
                             ...
234    Deterioro cognitivo leve amnÃƒÂ©sico multidominio
235    Deterioro cognitivo leve amnÃƒÂ©sico multidominio
236    Deterioro cognitivo leve amnÃƒÂ©sico multidominio
237    Deterioro cognitivo leve amnÃƒÂ©sico multidominio
238    Deterioro cognitivo leve multidominio no amnÃƒ...
Name: Diagnostico Presuntivo, Length: 239, dtype: object

In [53]:
csv['Sex']

0      M
1      F
2      F
3      F
4      F
      ..
234    M
235    F
236    M
237    M
238    M
Name: Sex, Length: 239, dtype: object

In [54]:
csv['Age at diagnostic visit (in years)']

0      75.0
1      68.0
2      75.0
3      69.0
4      59.0
       ...
234    63.0
235    73.0
236    62.0
237    55.0
238    67.0
Name: Age at diagnostic visit (in years), Length: 239, dtype: float64

In [55]:
csv['pet_id']

0      b87479c8-641ec909-8b8effc1-9b58a18a-573f8414
1                                                 -
2      e5a4f8b8-f6ad7d45-52b4b6e8-f3ebf6cd-c8e8f25b
3      c96cbd4d-f9cfda98-8bd71bc1-e26e87e3-e25c6d50
4      b172e084-61708876-5cb503da-b65f4f85-e1c4e110
                           ...
234                                               -
235                                               -
236                                               -
237                                               -
238                                               -
Name: pet_id, Length: 239, dtype: object

In [56]:
csv['diag']

0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
234    1.0
235    1.0
236    0.0
237    1.0
238    0.0
Name: diag, Length: 239, dtype: float64

In [116]:
csv['anon_id']

0     44a28d4d-715fb1d1-a27b6b74-8453221e-971636d2
1     bed8e34e-9cce115f-41d35acb-2299c2d0-5c1eda47
2     92a4e09d-f3b1bf4b-400c048c-9e0da253-522144d4
3     d3e65f9f-b900bf1c-20711c1d-3c1a2020-b1c08e1d
4     ed140931-163cd49b-c10b164f-f5be07d3-9fdd9020
5     e8c3e0b2-5bc7ec78-36df4fdd-1fd16c31-2de77b5e
6     60afec12-08579f16-432289de-c3a1600c-06562055
7     74cbd572-0a9978dc-25e1ee27-d0291523-a9c6a8b4
8     838b6ced-3e6f25b6-b8799a71-9ab43e5b-ffe8776d
9     164751e1-d6db08f6-8eea8b79-a2ef609c-362a8321
10    898776ca-aef78c5e-e93b96c9-8d4b730b-409da4cf
11    20f18c9a-94af6cfb-41c15927-301a50bb-6574e5b3
12    ed9da20f-0ffdf438-8431ae58-e0f365b8-1c2c968c
13    a2a42680-e0608ab1-2a69fe41-032598e6-1b350022
14    18cd0ce6-a2a728e1-6db1f358-8f85eba2-395d1521
15    dbdcefa2-d37077db-8e21c368-f4fc53a9-16e4751b
16    2db1aabf-bdfd1f90-4bb0ffc1-1a8abf80-742a68d8
17    c5a816aa-9ebed134-583b8cb6-d312d63c-e763b44c
18    6d955f3c-d72106fa-9acfcafa-9788d41b-95a19124
19    6679c9ac-ff5b3eee-73520f1e-adf11e7d-4d331dfe
20    802936ff-1599b220-dea72077-b0a7e85d-d320d005
21    4d3647c4-ec43e4da-9ac736e1-93f4e3f4-ad1ff84e
22    3aa18eb0-43ae540c-ca30594d-3b2cc125-5028af82
23    76e55c22-e7e28d2d-284653a6-24b0857d-7dcb4e8b
24    4efd6bdc-78538dc7-3500a241-68a8cd25-def9359c
25    82b4b3ea-c93d9b9f-671d1811-06bf0e60-f1a245ab
26    799e2454-cb073f25-e4d89d32-6d5f68f6-2275c41a
27    87bdd35c-7a483a1a-494d870f-9806c98d-9b1836db
28    c14b470d-8202d4ab-8e1b6196-528c0758-2436801d
29    6b5b8a5e-035ae6be-897921bd-791d2d2c-d98b5c13
30    267b86fb-64c2754d-00020126-60d16ff0-98efe3ff
31    23698a3b-71e234ac-db7ced18-262c0eee-bef83ae8
32    c110f580-15e17672-c7019cde-808d96be-71605933
33    ab47140f-baad2159-96f435e7-8e4c9f49-7b76fa01
34    86e09b2a-964f1e72-f5e48129-240d3885-fddaea1d
35    aab7877d-3e1e3fbd-2c6b4179-7c1e3cba-c69fab29
36    b53f2231-3afbe9e0-f2b2b3b3-913feef9-d4a416b0
37    a393e3fa-56095165-eb554350-cf744b58-ca5028e0
38    f34fd8af-c1044ddc-6d2bd6aa-77732cd4-462e6c8e
39    7aaf5d60-b100d546-73de9f0c-e3ce2f34-d299d6a5
40    756ba54b-a50b1dd7-b8a1460a-69a5f0f0-601bd0fb
41    c27c9d7d-1d6e603f-dfcea933-42beb746-e53f326c
42    7562bd21-e117f2f5-a9e06568-6b4e3b2f-4629a8ef
43    bb1647b2-6168d5ea-3939f6fa-167b41ea-fa0575d8
44    59e3780a-8ba7d428-49b50ddd-3aed7c74-fb51d15b
45    7b2563e2-796b12c0-5ca8a153-17618566-6da77739
46    45fe81a7-51af4a29-0aaa99dd-98d06794-4e0f96d2
47    2183eb4f-e8b3a7b3-9488841c-c974e2c0-82c43246
48    edbeaaf6-3063cc63-422dd81c-aa3f610e-401f880d
49    df197ff2-850f98d6-b2387220-e73af43c-4608190c
50    836a6184-3d59edfe-c0d953b9-c9ac24c3-c6202b3f
51    1601430e-86bbe761-b9509c4b-7a8e6d99-b909e67d
52    7a53db60-4103fd5a-b239b692-e2ed450a-165fe39b
53    557a799c-be501c9c-64c80ca1-2beffbe8-cd4a697e
54    10490022-d27d7764-f384f071-2e0cdfc9-6e94d416
55    f5491bc8-aff8bd50-262b248e-fa7a8fbc-21650cf5
56    850ea59a-596bd866-9ccf7153-04c81697-66e227d5
57    8a18dca8-3e89b5c1-0be97cc9-d7f8341e-85841d4b
58    84168646-e1596a6e-c0f29869-cb365242-5f4c77d6
59    3d2e40b7-821f88a4-3c34f1e4-ed322a47-6aca39e2
Name: anon_id, dtype: object

In [8]:
df = csv.reset_index()  # make sure indexes pair with number of rows

df2 = pd.DataFrame()

len(df2)

for index, row in df.iterrows():
    petId = str(row['pet_id'])
    path = '/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/' + petId
    if os.path.exists(path):
        print(path)
        df2 = df2.append(row)
    
len(df2)

/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/b87479c8-641ec909-8b8effc1-9b58a18a-573f8414
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/e5a4f8b8-f6ad7d45-52b4b6e8-f3ebf6cd-c8e8f25b
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/c96cbd4d-f9cfda98-8bd71bc1-e26e87e3-e25c6d50
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/b172e084-61708876-5cb503da-b65f4f85-e1c4e110
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/ad80ea14-f27dad6f-3e12c1f0-2993bcc3-4cb99a80
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/01959b9f-793181a7-043f0671-0c14bc59-edf43b59
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/c228c496-01ac9239-b1218004-d7d296e5-9c9c1248
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/47b78623-8a9948f9-ad801210-dc3262e3-d2f9343e
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/c27f0f13-eddbc624-7692d026-310587e3-15a7b566
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/ccbec475-d4eccc2e-e8064eed-984c0258-e4d5629f
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/1d151a46-5b460a4e-31e78408-29435909-204d12e0
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/abf8491a-d1c051fa-4a82b92a-454c7898-a8b5f8d1
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/9f16d771-5024fab1-0e90eed4-8ac4801f-3b21820b
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/dc831315-20b016b1-4538d3be-35c7f6c0-46e28013
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/38471673-ac5b7bce-f377e18a-2bce64ba-15a7f769
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/c1bdba82-99a59b4e-a4fcf5da-78832d48-e8a4bbd8
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/d89acb49-fdcbf1f7-9c244597-b0030755-56b15c45
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/bf0ba0b6-ca5613f3-e69f2103-27c7500a-b7a2a8c9
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/14f7ad00-db94afcd-efd04f79-644ca0e5-d79473ae
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/7f5b843b-8eadae81-bba6310f-eb31600f-9e1d3de1
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/d922954c-3cd04b93-4c323d9e-9f5cec26-a9b4fbbb
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/a375f4ea-704630f3-a92d0bfb-357131b1-8c2b208f
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/4d837680-a00ddaa5-11e47c28-5756fd5a-8eb63ca0
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/7610266b-ca235fd1-d02b147f-e658c7e4-ac52c728

/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)

/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/de73b3c8-caff4051-ac0df0b6-fe691283-8d5a2f43
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/1ecd8590-a4b58359-30292d24-bc850d05-39d0d4e9
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/faf3bc8b-bca09175-6489651a-14790247-226512a2
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/65c3a537-c34284b3-a83d7952-02163561-16114f0c
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/3656419d-1523529f-f080cc08-ac5fbbf1-441422c8
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/3f3c0b5a-e6630b26-53079866-423b2546-b61f03e4
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/c19aae90-3931bfc8-9bc8fbfc-3b6bb72c-d78aba7b
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/51384f71-9b488f68-cad638e8-3f8995e6-5f05ddfe
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/a248637a-74b50589-b5ec9433-91d05f99-2cb3100d
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/3eb85eee-8babc6d8-8b32a24e-4603bbcf-a51a9608
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/7610266b-ca235fd1-d02b147f-e658c7e4-ac52c728
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/f5fc9431-ed4ebc72-6203d97a-e788b88d-874bf87a
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/caa1ef27-21bb54d0-05caa39b-0fce0ae2-4218d1cc
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/dcd3e014-d3b8938e-27f06f01-8c09b200-f998cd8c
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/ab1703b1-54a114b0-cbecf273-b0800da7-07650005
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/df117812-35008a37-9a600e9a-3507edf8-f0389b7b
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/35caf841-9234028d-8e1cfb4f-20656a54-47757216
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/ba80806d-45e74841-dae20fa7-8fd5f798-cde36d41
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/38bb3ae3-74bc478c-bfabf1d2-09e41e1b-7c75ff40
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/38471673-ac5b7bce-f377e18a-2bce64ba-15a7f769
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/d7e10c4e-c26f26eb-346215ed-04063bb2-c943913c
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/17bfd6a0-fd393fa6-4d77103f-3e7a0de4-b5a9160e
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/d922954c-3cd04b93-4c323d9e-9f5cec26-a9b4fbbb
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/9b53a850-50a65b98-373f6fe7-5906ed09-a449a43c
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/849fbca1-680e7283-1343314b-103301e5-20ff587a

/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)

/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/ac6d0a1e-e9d1ac88-1b2feb1c-21990129-b2738ead
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/7861b0e1-238cb043-5de0d771-e9ef9375-25de44c0
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/32bad7a9-d205e9c0-c68eec0d-5c4ca07c-839e4dae
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/ad80ea14-f27dad6f-3e12c1f0-2993bcc3-4cb99a80
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/427bf2d0-eed4925a-8a094d07-93f5e700-8da3bc5b
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/a61f65bd-153b85c6-10b27604-ec7125c5-b800a82c
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/4f9d582a-c992d94b-6418c65a-8866c929-7a52d395
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/22e42fbe-2f5e8375-337266d7-9610b183-a923614e
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/0b010b72-4a40a743-412c507d-7c75f235-6e6b3ffb
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/ae4130ac-1c57b6ba-1087205e-75147ea8-2827e002
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/f88b6879-a25768a1-d7e96b40-9d23478a-f413069d

/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)

/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/38012514-8e109377-41968e0f-7ec1fe4f-56427731
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/523810f6-d7707ff7-8c08b8b5-4d71b7af-e5698745
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/994b8a82-4de35b20-d0bce23e-62b32e64-a7c09811
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/5baf1e30-2c99cf5c-23d37591-1e28ab2f-5ad93fdd
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/a022aee6-99058b0e-ae971c29-fbe6dfac-a1c44908
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/b45c1777-0cda6fa1-a786ce73-596a699d-dd2c51e4
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/969ae82d-89116801-db7c6c82-16bcfe85-c48ed596
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/75b40d93-faad895a-fa585631-53039bac-60bfc37a
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/98355367-62a66f43-32d8ac2b-e9e9a30c-747279ee
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/98730765-fc3b1cbd-d83ae673-bb6a2dc1-54206f15
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/c5979410-858c9b88-af0b9c3f-16a381e0-09b79883
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/fd009930-e55b2c30-dbcbe977-02ed9fa6-d254512b
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/b26289a2-3838cb53-a980dfc6-933f6e75-d4dfbf0d
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/83f4bb05-3997aa87-b05aa201-c4dc5c0f-77825f68
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/907e763c-db258e0a-25f1915d-5f953fc1-ba5a860a
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/a14fa0ab-465b4285-3f81f081-ba66307f-c03915ad
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/b074b96f-18d5698c-9308ca22-8b7652aa-50445d55
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/acd58bab-a8c6798a-835ecbf5-113c00b3-d7f616d8
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/ad80ea14-f27dad6f-3e12c1f0-2993bcc3-4cb99a80
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/caa1ef27-21bb54d0-05caa39b-0fce0ae2-4218d1cc
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/09efaaf6-0cd6e473-a1c9c639-93a6c720-00fe0276
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/942df09d-3b0f84bc-20dea58c-935afc23-b017c4d9
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/7610266b-ca235fd1-d02b147f-e658c7e4-ac52c728
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/4c12554b-2b6cd154-a9ca0f15-1ae27b9f-ff84f183
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/e785e1ae-4cc6f186-7984308a-d879a1f0-bcd90f94

/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)

/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/98e82e34-df3aa054-551be0aa-6ff6d7c9-6ce792a9
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/6559a881-0fc99b85-c04b11f4-d7843d40-6d628caa
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/99f955dc-0188be2f-5b206466-cb05b629-6583c4ba
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/026fadeb-4ac5192a-7baa727a-fef84e8b-f58748ec
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/d0fcd3bf-a0f2ef64-2f7931ec-28e68412-c0e2a63a
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/6b7e72b1-7ba09544-faf79346-091fd381-88d09293
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/d1bd3533-83d0ac7b-ffecb960-b7f6d96a-75cbbca7
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/a33eb1ba-4a5092e1-69d9b29a-2e3a10a2-91914a92
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/9fa9589f-30f1da5a-c1441402-c97efd2e-c5af6926
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/3ff386f7-356e5430-da77c391-0657d688-669b2916
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/24143ad7-864e4cae-625db970-afaeadc4-10038ed6
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/9f7ac9ec-7345afca-7a43c123-cc2020f5-a5995158
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/054cb8e0-98ae6171-2a227a59-850dc384-a7b06c85
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/11cdcba6-7264db3c-7f9eae70-2b1d71d3-6a13471b
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/835bba26-3879ebbf-5e9d4e02-cdef07a1-d9a245ca
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/de15331b-b359e2ea-1651bb26-08598a5a-bbb57b94
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/a2e304d1-2514af76-ecc94dba-b02dc2f0-dab26cfe
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/ce16dfd1-207d20a3-056088eb-43bf5d75-232b1723
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/65e017ae-005b86a3-58c71129-aedb2468-791b2d59
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/0c38335c-0fcd892c-e263357b-8e588291-a020996a
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/699a54ce-60d2b6d0-a986e38b-af4d2f11-eebbf8ca
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/406a25ad-76aea02a-ec230091-a3635f25-2352171a
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/f8e1c7b6-34ccdd88-b9107b57-63d42c8b-f0c49671
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/75b359a3-a3d6abb3-757ad256-4e6b14d5-9d54481a
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/f72c5199-63dea0bc-4c8c9e72-01fc6d16-f3d7a47a
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/a4dc5f48-55b6fe7b-95df4cc2-d1a9765f-acf114ce

/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)

/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/24fa2c1d-1218de8c-c96d25cb-28e77c7a-89e0c0a4
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/1541a4b6-f7f308c1-9e017a0a-d247bc16-e3117067
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/5e28bc57-30e1abd2-a0a7d856-4fc1af1e-5bee10d2
/Users/hugom/Tesis/Imagenes/fleni-stripped-preprocessed3/625ddb3f-6b6adb4a-0653c1b1-1e566cc8-3fe2fab5

/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)
/var/folders/hy/rbnyh5md5yvc72ynxb0c2cz40000gn/T/ipykernel_36283/2174592208.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append(row)

115

In [9]:
df2['diag']

0      1.0
2      1.0
3      1.0
4      1.0
6      0.0
      ...
225    1.0
226    1.0
231    1.0
232    1.0
233    1.0
Name: diag, Length: 115, dtype: float64

In [10]:
duplicate_rows = df2[df2.duplicated('pet_id', keep=False)]

# Display the rows with repeated pet_id values
duplicate_rows[['pet_id', 'anon_id', 'diag', 'Name', 'Surname', 'Age at diagnostic visit (in years)']].sort_values(by=['pet_id'])

,pet_id,anon_id,diag,Name,Surname,Age at diagnostic visit (in years)
20,38471673-ac5b7bce-f377e18a-2bce64ba-15a7f769,4e509147-8b314f62-ace7bd77-aa0113a8-c59aaada,1.0,HEBE MARIA,RODRIGUEZ,81.0
104,38471673-ac5b7bce-f377e18a-2bce64ba-15a7f769,4e509147-8b314f62-ace7bd77-aa0113a8-c59aaada,1.0,OSCAR ESTANISLAO,RODRIGUEZ,75.0
41,7610266b-ca235fd1-d02b147f-e658c7e4-ac52c728,6bd9f5c3-cf85f26c-85358d1f-58e3ab3a-7e723981,1.0,GENOVEVA ANGELICA,ALVAREZ,77.0
73,7610266b-ca235fd1-d02b147f-e658c7e4-ac52c728,6591cf51-7cce7688-80e7e58f-e8581f03-3766e111,1.0,ALBERTO MANUEL,ALVAREZ GAIANI,75.0
176,7610266b-ca235fd1-d02b147f-e658c7e4-ac52c728,6bd9f5c3-cf85f26c-85358d1f-58e3ab3a-7e723981,0.0,OSCAR GUILLERMO,ALVAREZ,66.0
6,ad80ea14-f27dad6f-3e12c1f0-2993bcc3-4cb99a80,82492442-313797f9-20456fb1-e93414ad-69e5d284,0.0,ALBERTO RAMON,LOPEZ,92.0
134,ad80ea14-f27dad6f-3e12c1f0-2993bcc3-4cb99a80,82492442-313797f9-20456fb1-e93414ad-69e5d284,1.0,SALUSTIANA,LOPEZ,70.0
172,ad80ea14-f27dad6f-3e12c1f0-2993bcc3-4cb99a80,82492442-313797f9-20456fb1-e93414ad-69e5d284,1.0,ELENA,LOPEZ,62.0
77,caa1ef27-21bb54d0-05caa39b-0fce0ae2-4218d1cc,86d28782-a694a412-7fa3da61-e77e069b-b100fdc5,1.0,RAUL ALFREDO,VILLANUEVA,59.0
173,caa1ef27-21bb54d0-05caa39b-0fce0ae2-4218d1cc,86d28782-a694a412-7fa3da61-e77e069b-b100fdc5,0.0,RICARDO LUIS,VILLANUEVA,75.0
38,d922954c-3cd04b93-4c323d9e-9f5cec26-a9b4fbbb,ba1f81b2-1616eb13-a021ccd4-dae5f0c7-1e639b91,0.0,JORGE,GARCIA,88.0
113,d922954c-3cd04b93-4c323d9e-9f5cec26-a9b4fbbb,ba1f81b2-1616eb13-a021ccd4-dae5f0c7-1e639b91,1.0,ROBERTO,GARCIA,75.0

In [13]:
# curated, no tiene duplicados, etc.
df3 = pd.read_csv('/Users/hugom/PET-IA/Sets/fleni-myriam-curated.csv')
df3

,Unnamed: 0,diag,pet_id,Sex,Age at diagnostic visit (in years),anon_id
0,0,1.0,b87479c8-641ec909-8b8effc1-9b58a18a-573f8414,M,75.0,601894e9-7192ca44-617903f9-b7775028-b7db3c01
1,2,1.0,e5a4f8b8-f6ad7d45-52b4b6e8-f3ebf6cd-c8e8f25b,F,75.0,26f052fa-48d0929f-43515de0-ab857928-4ee712ec
2,3,1.0,c96cbd4d-f9cfda98-8bd71bc1-e26e87e3-e25c6d50,F,69.0,9c673f58-f5bfbaf0-ff226082-410ef24e-e7d8ff4a
3,4,1.0,b172e084-61708876-5cb503da-b65f4f85-e1c4e110,F,59.0,0f5ab5b2-c7051e97-42563753-f7f14410-29b463dd
4,7,0.0,01959b9f-793181a7-043f0671-0c14bc59-edf43b59,M,76.0,c0f0fdd2-3d2bda20-ca3c99c1-154d11f1-4f7d8346
...,...,...,...,...,...,...
95,225,1.0,a4dc5f48-55b6fe7b-95df4cc2-d1a9765f-acf114ce,F,64.0,b5b58aa6-ac714391-3e93da6a-b4f7a79e-7f5df46e
96,226,1.0,24fa2c1d-1218de8c-c96d25cb-28e77c7a-89e0c0a4,M,66.0,8810c5bf-2dfa6391-82841f0b-e271e5da-d8256c22
97,231,1.0,1541a4b6-f7f308c1-9e017a0a-d247bc16-e3117067,M,67.0,d1b48cde-e02de145-fcf116ba-ec2485a2-2731e736
98,232,1.0,5e28bc57-30e1abd2-a0a7d856-4fc1af1e-5bee10d2,M,82.0,208ef863-72c22ba9-681a25e4-799847e4-cb2cdb64
99,233,1.0,625ddb3f-6b6adb4a-0653c1b1-1e566cc8-3fe2fab5,M,55.0,1e0a6c5a-2052ffb5-288345cf-e2548118-c9c6c199

Hay dos pets que tienen distinto diagnóstico, deberían ser eliminadas?

In [14]:
df4 = df3.groupby(by=['Sex', 'diag'])

In [15]:
df4.describe()

         Unnamed: 0                                                      \
              count        mean        std   min     25%    50%     75%
Sex diag
F   0.0        16.0   90.000000  64.662199  18.0   37.75   72.5  152.00
    1.0        27.0  114.074074  76.075330   2.0   34.00  142.0  174.00
M   0.0        24.0  127.166667  75.342503   7.0   60.25  149.5  193.75
    1.0        33.0  157.757576  63.096667   0.0  133.00  167.0  205.00

                Age at diagnostic visit (in years)                        \
            max                              count       mean        std
Sex diag
F   0.0   220.0                               16.0  73.187500   7.268368
    1.0   225.0                               27.0  73.481481   7.757728
M   0.0   219.0                               24.0  69.291667  10.246862
    1.0   233.0                               33.0  74.969697   7.588992


           min   25%   50%    75%   max
Sex diag
F   0.0   55.0  70.5  74.0  77.25  87.0
    1.0   59.0  68.0  74.0  79.50  90.0
M   0.0   43.0  65.5  70.5  76.50  82.0
    1.0   55.0  72.0  77.0  80.00  86.0

In [16]:
df3.groupby(by='Sex').describe()

    Unnamed: 0                                                         diag  \
         count        mean        std  min   25%    50%    75%    max count
Sex
F         43.0  105.116279  72.212388  2.0  36.5  109.0  165.0  225.0  43.0
M         57.0  144.877193  69.559859  0.0  96.0  161.0  199.0  233.0  57.0

               ...           Age at diagnostic visit (in years)             \
         mean  ...  75%  max                              count       mean
Sex            ...
F    0.627907  ...  1.0  1.0                               43.0  73.372093
M    0.578947  ...  1.0  1.0                               57.0  72.578947


          std   min   25%   50%   75%   max
Sex
F    7.492928  55.0  68.5  74.0  78.5  90.0
M    9.166997  43.0  67.0  76.0  79.0  86.0

[2 rows x 24 columns]

In [17]:
df3['Age at diagnostic visit (in years)'].describe()

count    100.000000
mean      72.920000
std        8.456281
min       43.000000
25%       68.000000
50%       75.000000
75%       79.000000
max       90.000000
Name: Age at diagnostic visit (in years), dtype: float64

# Fleni60

In [112]:
csv = pd.read_csv('/Users/hugom/PET-IA/Sets/fleni-PET_clasificados60.csv')

In [113]:
duplicate_rows = csv[csv.duplicated('anon_id', keep=False)]
duplicate_rows

Empty DataFrame
Columns: [StudyDate, anon_id, PatientSex, Unnamed: 3, Conclusion PET]
Index: []

Este no tiene duplicados, todo OK

In [114]:
csv2 = csv.groupby(by=['PatientSex', 'Conclusion PET'])

In [115]:
csv2.describe()

                          StudyDate                                         \
                              count          mean          std         min
PatientSex Conclusion PET
F          AD                  18.0  2.022082e+07   319.814616  20220210.0
           non-AD              10.0  2.022082e+07   201.919016  20220628.0
M          AD                  21.0  2.022069e+07   350.283504  20220217.0
           non-AD              11.0  2.022178e+07  2771.629731  20220622.0

                                                                             \
                                   25%         50%          75%         max
PatientSex Conclusion PET
F          AD              20220535.75  20220859.5  20221026.75  20221216.0
           non-AD          20220648.50  20220809.5  20220883.25  20221216.0
M          AD              20220419.00  20220614.0  20221021.00  20221227.0
           non-AD          20220758.00  20221025.0  20221224.50  20230105.0

                          Unnamed: 3
                               count mean std min 25% 50% 75% max
PatientSex Conclusion PET
F          AD                    0.0  NaN NaN NaN NaN NaN NaN NaN
           non-AD                0.0  NaN NaN NaN NaN NaN NaN NaN
M          AD                    0.0  NaN NaN NaN NaN NaN NaN NaN
           non-AD                0.0  NaN NaN NaN NaN NaN NaN NaN

# Otra data

In [4]:
df = pd.read_csv("/Users/hugom/PET-IA/Data/ADNI-FULL-PostProc_3_01_2023_UniformResolution.csv")

In [7]:
df['Acq Date'].min()

'1/03/2007'

In [8]:
df['Acq Date'].max()

'9/30/2019'

In [9]:
dfs = df.groupby(by='Subject')

In [11]:
dfs['Acq Date'].mean()

TypeError: Could not convert 6/09/2011 to numeric

# Mérida

In [4]:
tsvFile = '/Users/hugom/PET-IA/Full-DBs/ines-merida-db/pool/DM/TEP/CERMEP_MXFDG/BASE/DATABASE_SENT/ALL/participants.tsv'
csv = pd.read_table(tsvFile, index_col = False)

In [5]:
csv

,participant_id,birth_date,age,sex,weight,size,injected_dose,activity_in_ICV_mask,handedness,comments
0,sub-0001,1980,35,F,81,163.0,149,6911,R,NaN
1,sub-0002,1957,58,F,66,160.0,102,5781,R,NaN
2,sub-0003,1979,36,M,88,174.0,144,5980,R,NaN
3,sub-0004,1963,51,M,72,NaN,124,6551,R,NaN
4,sub-0005,1981,33,M,110,180.0,147,4925,R,NaN
5,sub-0006,1974,41,M,76,176.0,119,5590,R,NaN
6,sub-0007,1975,40,F,60,170.0,118,8271,R,NaN
7,sub-0008,1988,27,F,53,NaN,95,6889,R,NaN
8,sub-0009,1986,28,F,66,NaN,135,7974,R,NaN
9,sub-0010,1971,43,M,117,170.0,168,6137,R,NaN
10,sub-0011,1988,27,F,53,161.0,99,6944,R,NaN
11,sub-0012,1990,24,F,63,168.0,123,7911,R,NaN
12,sub-0013,1988,27,M,74,178.0,135,7798,R,NaN
13,sub-0014,1964,50,F,55,157.0,94,2574,R,FLAIR hyper signal
14,sub-0015,1981,34,M,62,170.0,109,6032,R,NaN
15,sub-0016,1949,65,F,70,170.0,108,4849,R,FLAIR hyper signal
16,sub-0017,1958,56,M,89,185.0,140,5539,L,NaN
17,sub-0018,1969,45,M,71,168.0,132,4444,R,NaN
18,sub-0019,1989,25,F,61,161.0,109,7755,R,NaN
19,sub-0020,1973,42,M,72,185.0,135,6966,L,NaN
20,sub-0021,1990,25,M,63,178.0,110,3119,R,NaN
21,sub-0022,1990,25,M,72,178.0,133,7075,R,NaN
22,sub-0023,1974,41,F,54,168.0,99,5970,R,NaN
23,sub-0024,1976,39,M,118,199.0,167,6528,R,NaN
24,sub-0025,1967,48,F,83,168.0,149,5811,R,FLAIR hyper signal
25,sub-0026,1988,27,F,70,NaN,134,7656,R,NaN
26,sub-0027,1963,52,F,57,NaN,107,6647,R,NaN
27,sub-0028,1969,46,F,53,173.0,95,5481,L,NaN
28,sub-0029,1991,23,M,80,178.0,136,7824,R,NaN
29,sub-0030,1989,25,M,72,175.0,124,7384,R,NaN
30,sub-0031,1979,35,F,58,NaN,112,6621,R,NaN
31,sub-0032,1981,34,M,80,178.0,136,7011,R,NaN
32,sub-0033,1955,60,F,48,159.0,95,6151,R,NaN
33,sub-0034,1984,31,F,58,166.0,106,6119,L,NaN
34,sub-0035,1969,46,F,48,167.0,96,6066,R,NaN
35,sub-0036,1982,33,M,79,180.0,149,7253,R,NaN
36,sub-0037,1981,33,F,47,163.0,92,7355,R,NaN

In [8]:
csv.groupby(by='sex')['age'].describe()

     count  mean        std   min    25%   50%   75%   max
sex
F     20.0  39.9  12.652855  24.0  27.75  37.5  48.5  65.0
M     17.0  36.0   9.565563  23.0  27.00  34.0  42.0  56.0

In [9]:
csv['age'].describe()

count    37.000000
mean     38.108108
std      11.359733
min      23.000000
25%      27.000000
50%      35.000000
75%      46.000000
max      65.000000
Name: age, dtype: float64

# Oasis 3

In [9]:
csvDiagnoses = pd.read_csv("/Users/hugom/Downloads/OASIS3_data_files/scans/UDSd1-Form_D1__Clinician_Diagnosis___Cognitive_Status_and_Dementia/resources/csv/files/OASIS3_UDSd1_diagnoses.csv")
csvOwn = pd.read_csv("/Users/hugom/PET-IA/Sets/oasis3.csv")
csvCN = pd.read_csv("/Users/hugom/Downloads/OASIS_cohort_files/scans/CogNorm-Cognitively_Normal_Cohorts/resources/csv/files/OASIS3_unchanged_CDR_cognitively_healthy.csv")

In [10]:
csvOwn

,StudyID,OASISID,days_to_visit,matched_diagnosis_session_label,Group,Sex,Age
0,sub-OAS30001_ses-d2650_acq-FDG_pet,NaN,NaN,NaN,CN,NaN,72.45
1,sub-OAS30003_ses-d3320_acq-FDG_pet,NaN,NaN,NaN,CN,NaN,67.90
2,sub-OAS30007_ses-d1981_acq-FDG_pet,NaN,NaN,NaN,NaN,NaN,77.01
3,sub-OAS30032_ses-d3511_acq-FDG_pet,NaN,NaN,NaN,CN,NaN,59.79
4,sub-OAS30032_ses-d4121_acq-FDG_pet,NaN,NaN,NaN,CN,NaN,61.47
...,...,...,...,...,...,...,...
121,sub-OAS31114_ses-d3338_acq-FDG_pet,NaN,NaN,NaN,CN,NaN,NaN
122,sub-OAS31118_ses-d2864_acq-FDG_pet,NaN,NaN,NaN,CN,NaN,NaN
123,sub-OAS31153_ses-d1570_acq-FDG_pet,NaN,NaN,NaN,CN,NaN,NaN
124,sub-OAS31165_ses-d0990_acq-FDG_pet,NaN,NaN,NaN,CN,NaN,NaN
125,sub-OAS31168_ses-d2553_acq-FDG_pet,NaN,NaN,NaN,CN,NaN,NaN

# Primero, matcheamos todo

TODO: mover a otro archivo

In [68]:
csvCN

    OASIS3_id  Min of CDRTOT  Max of CDRTOT
0    OAS30001              0              0
1    OAS30002              0              0
2    OAS30003              0              0
3    OAS30004              0              0
4    OAS30005              0              0
..        ...            ...            ...
750  OAS31465              0              0
751  OAS31469              0              0
752  OAS31470              0              0
753  OAS31471              0              0
754  OAS31472              0              0

[755 rows x 3 columns]

In [69]:
csvOwn["Group"] = None

In [70]:
csvOwn

,StudyID,OASISID,days_to_visit,matched_diagnosis_session_label,Group,Sex,Age
0,sub-OAS30001_ses-d2650_acq-FDG_pet,OAS30001,2650,OAS30001_UDSd1_d2699,None,NaN,72.45
1,sub-OAS30003_ses-d3320_acq-FDG_pet,OAS30003,3320,OAS30003_UDSd1_d3288,None,NaN,67.90
2,sub-OAS30007_ses-d1981_acq-FDG_pet,OAS30007,1981,OAS30007_UDSd1_d1935,None,NaN,77.01
3,sub-OAS30032_ses-d3511_acq-FDG_pet,OAS30032,3511,OAS30032_UDSd1_d3387,None,NaN,59.79
4,sub-OAS30032_ses-d4121_acq-FDG_pet,OAS30032,4121,OAS30032_UDSd1_d4756,None,NaN,61.47
...,...,...,...,...,...,...,...
121,sub-OAS31114_ses-d3338_acq-FDG_pet,OAS31114,3338,OAS31114_UDSd1_d3305,None,NaN,NaN
122,sub-OAS31118_ses-d2864_acq-FDG_pet,OAS31118,2864,OAS31118_UDSd1_d2764,None,NaN,NaN
123,sub-OAS31153_ses-d1570_acq-FDG_pet,OAS31153,1570,OAS31153_UDSd1_d1478,None,NaN,NaN
124,sub-OAS31165_ses-d0990_acq-FDG_pet,OAS31165,990,OAS31165_UDSd1_d1072,None,NaN,NaN
125,sub-OAS31168_ses-d2553_acq-FDG_pet,OAS31168,2553,OAS31168_UDSd1_d2438,None,NaN,NaN

In [71]:
csvDiagnoses

,OASISID,OASIS_session_label,days_to_visit,age at visit,WHODIDDX,NORMCOG,DEMENTED,MCIAMEM,MCIAPLUS,MCIAPLAN,...,schizoif,anxiet,anxietif,delir,delirif,ptsddx,ptsddxif,alcabuse,impsub,impsubif
0,OAS30001,OAS30001_UDSd1_d0000,0,65.19,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,OAS30001,OAS30001_UDSd1_d0339,339,66.12,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,OAS30001,OAS30001_UDSd1_d0722,722,67.17,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,OAS30001,OAS30001_UDSd1_d1106,1106,68.22,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,OAS30001,OAS30001_UDSd1_d1456,1456,69.18,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8494,OAS31472,OAS31472_UDSd1_d0826,826,69.53,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN
8495,OAS31473,OAS31473_UDSd1_d0000,0,56.61,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN
8496,OAS31473,OAS31473_UDSd1_d1142,1142,59.74,NaN,0.0,0.0,1.0,0.0,NaN,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN
8497,OAS31474,OAS31474_UDSd1_d0000,0,81.84,NaN,0.0,0.0,1.0,0.0,NaN,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN
8498,OAS31474,OAS31474_UDSd1_d0732,732,83.85,NaN,0.0,1.0,NaN,NaN,NaN,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN

In [72]:
def getDaysToVisit(studyID):
    """
    Devuelve los días de una visita desde el nombre de una imágen (StudyID)
    """
    search = re.search('-d(\d*)_acq', studyID)
    return int(search[1])
print(getDaysToVisit("sub-OAS30032_ses-d4121_acq-FDG_pet"))

4121

In [73]:
def getOASISID(StudyID):
    """
    Devuelve el OASISID a partir del StudyID (Campo inventado por mi)
    """
    search = re.search('(OAS\d*)_', StudyID)
    return search[1]
print(getOASISID("OAS31473_UDSd1_d1142"))

OAS31473

In [74]:
def closerSession(row, csvDiagnoses):
    """
    Devuelve la sesión "mas cercana" para una row
    """
    daysToVisit = getDaysToVisit(row['StudyID'])
    oasisID = getOASISID(row['StudyID'])
    csv2 = csvDiagnoses[csvDiagnoses['OASISID'] ==  oasisID]
    closerSessionID = None
    closerDaysToVisit = math.inf
    # De aquí debe devolver la sesión mas "cercana"
    for index, row in csv2.iterrows():
        diagnosisDaysToVisit = row['days_to_visit']
        diffInDays = abs(abs(diagnosisDaysToVisit) - abs(daysToVisit))
        if diffInDays < closerDaysToVisit:
            closerDaysToVisit = diffInDays
            closerSessionID = row['OASIS_session_label']
            
    return closerSessionID

In [75]:
csvOwn["matched_diagnosis_session_label"] = csvOwn.apply(lambda row: closerSession(row, csvDiagnoses), axis = 1)

In [76]:
csvOwn

,StudyID,OASISID,days_to_visit,matched_diagnosis_session_label,Group,Sex,Age
0,sub-OAS30001_ses-d2650_acq-FDG_pet,OAS30001,2650,OAS30001_UDSd1_d2699,None,NaN,72.45
1,sub-OAS30003_ses-d3320_acq-FDG_pet,OAS30003,3320,OAS30003_UDSd1_d3288,None,NaN,67.90
2,sub-OAS30007_ses-d1981_acq-FDG_pet,OAS30007,1981,OAS30007_UDSd1_d1935,None,NaN,77.01
3,sub-OAS30032_ses-d3511_acq-FDG_pet,OAS30032,3511,OAS30032_UDSd1_d3387,None,NaN,59.79
4,sub-OAS30032_ses-d4121_acq-FDG_pet,OAS30032,4121,OAS30032_UDSd1_d4756,None,NaN,61.47
...,...,...,...,...,...,...,...
121,sub-OAS31114_ses-d3338_acq-FDG_pet,OAS31114,3338,OAS31114_UDSd1_d3305,None,NaN,NaN
122,sub-OAS31118_ses-d2864_acq-FDG_pet,OAS31118,2864,OAS31118_UDSd1_d2764,None,NaN,NaN
123,sub-OAS31153_ses-d1570_acq-FDG_pet,OAS31153,1570,OAS31153_UDSd1_d1478,None,NaN,NaN
124,sub-OAS31165_ses-d0990_acq-FDG_pet,OAS31165,990,OAS31165_UDSd1_d1072,None,NaN,NaN
125,sub-OAS31168_ses-d2553_acq-FDG_pet,OAS31168,2553,OAS31168_UDSd1_d2438,None,NaN,NaN

In [77]:
csvOwn["days_to_visit"] = csvOwn.apply(lambda row: getDaysToVisit(row["StudyID"]), axis = 1)

In [78]:
csvOwn["OASISID"] = csvOwn.apply(lambda row: getOASISID(row["StudyID"]), axis = 1)

In [79]:
csvOwn

,StudyID,OASISID,days_to_visit,matched_diagnosis_session_label,Group,Sex,Age
0,sub-OAS30001_ses-d2650_acq-FDG_pet,OAS30001,2650,OAS30001_UDSd1_d2699,None,NaN,72.45
1,sub-OAS30003_ses-d3320_acq-FDG_pet,OAS30003,3320,OAS30003_UDSd1_d3288,None,NaN,67.90
2,sub-OAS30007_ses-d1981_acq-FDG_pet,OAS30007,1981,OAS30007_UDSd1_d1935,None,NaN,77.01
3,sub-OAS30032_ses-d3511_acq-FDG_pet,OAS30032,3511,OAS30032_UDSd1_d3387,None,NaN,59.79
4,sub-OAS30032_ses-d4121_acq-FDG_pet,OAS30032,4121,OAS30032_UDSd1_d4756,None,NaN,61.47
...,...,...,...,...,...,...,...
121,sub-OAS31114_ses-d3338_acq-FDG_pet,OAS31114,3338,OAS31114_UDSd1_d3305,None,NaN,NaN
122,sub-OAS31118_ses-d2864_acq-FDG_pet,OAS31118,2864,OAS31118_UDSd1_d2764,None,NaN,NaN
123,sub-OAS31153_ses-d1570_acq-FDG_pet,OAS31153,1570,OAS31153_UDSd1_d1478,None,NaN,NaN
124,sub-OAS31165_ses-d0990_acq-FDG_pet,OAS31165,990,OAS31165_UDSd1_d1072,None,NaN,NaN
125,sub-OAS31168_ses-d2553_acq-FDG_pet,OAS31168,2553,OAS31168_UDSd1_d2438,None,NaN,NaN

In [80]:
merged = csvOwn.merge(
    csvDiagnoses,
    left_on = ["matched_diagnosis_session_label"],
    right_on = ["OASIS_session_label"],
    how = "inner",
    copy = True
)

In [81]:
merged

,StudyID,OASISID_x,days_to_visit_x,matched_diagnosis_session_label,Group,Sex,Age,OASISID_y,OASIS_session_label,days_to_visit_y,...,schizoif,anxiet,anxietif,delir,delirif,ptsddx,ptsddxif,alcabuse,impsub,impsubif
0,sub-OAS30001_ses-d2650_acq-FDG_pet,OAS30001,2650,OAS30001_UDSd1_d2699,None,NaN,72.45,OAS30001,OAS30001_UDSd1_d2699,2699,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,sub-OAS30003_ses-d3320_acq-FDG_pet,OAS30003,3320,OAS30003_UDSd1_d3288,None,NaN,67.90,OAS30003,OAS30003_UDSd1_d3288,3288,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,sub-OAS30007_ses-d1981_acq-FDG_pet,OAS30007,1981,OAS30007_UDSd1_d1935,None,NaN,77.01,OAS30007,OAS30007_UDSd1_d1935,1935,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,sub-OAS30032_ses-d3511_acq-FDG_pet,OAS30032,3511,OAS30032_UDSd1_d3387,None,NaN,59.79,OAS30032,OAS30032_UDSd1_d3387,3387,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,sub-OAS30032_ses-d4121_acq-FDG_pet,OAS30032,4121,OAS30032_UDSd1_d4756,None,NaN,61.47,OAS30032,OAS30032_UDSd1_d4756,4756,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,sub-OAS31114_ses-d3338_acq-FDG_pet,OAS31114,3338,OAS31114_UDSd1_d3305,None,NaN,NaN,OAS31114,OAS31114_UDSd1_d3305,3305,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,sub-OAS31118_ses-d2864_acq-FDG_pet,OAS31118,2864,OAS31118_UDSd1_d2764,None,NaN,NaN,OAS31118,OAS31118_UDSd1_d2764,2764,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122,sub-OAS31153_ses-d1570_acq-FDG_pet,OAS31153,1570,OAS31153_UDSd1_d1478,None,NaN,NaN,OAS31153,OAS31153_UDSd1_d1478,1478,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
123,sub-OAS31165_ses-d0990_acq-FDG_pet,OAS31165,990,OAS31165_UDSd1_d1072,None,NaN,NaN,OAS31165,OAS31165_UDSd1_d1072,1072,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN
124,sub-OAS31168_ses-d2553_acq-FDG_pet,OAS31168,2553,OAS31168_UDSd1_d2438,None,NaN,NaN,OAS31168,OAS31168_UDSd1_d2438,2438,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
merged.columns

Index(['StudyID', 'OASISID_x', 'days_to_visit_x',
       'matched_diagnosis_session_label', 'Group', 'Sex', 'Age', 'OASISID_y',
       'OASIS_session_label', 'days_to_visit_y',
       ...
       'schizoif', 'anxiet', 'anxietif', 'delir', 'delirif', 'ptsddx',
       'ptsddxif', 'alcabuse', 'impsub', 'impsubif'],
      dtype='object', length=156)

In [83]:
len(merged[merged["NORMCOG"] == 1])

114

In [84]:
normalCSV = merged[merged["NORMCOG"] == 1]

In [85]:
normalCSV.to_csv("/Users/hugom/PET-IA/Sets/oasis3-cognitively-normal.csv")

In [86]:
nonNormal = merged[merged["NORMCOG"] == 0]

In [87]:
len(nonNormal)

11

In [88]:
nonNormal

,StudyID,OASISID_x,days_to_visit_x,matched_diagnosis_session_label,Group,Sex,Age,OASISID_y,OASIS_session_label,days_to_visit_y,...,schizoif,anxiet,anxietif,delir,delirif,ptsddx,ptsddxif,alcabuse,impsub,impsubif
22,sub-OAS30194_ses-d9317_acq-FDG_pet,OAS30194,9317,OAS30194_UDSd1_d9229,None,NaN,NaN,OAS30194,OAS30194_UDSd1_d9229,9229,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,sub-OAS30194_ses-d9874_acq-FDG_pet,OAS30194,9874,OAS30194_UDSd1_d9938,None,NaN,NaN,OAS30194,OAS30194_UDSd1_d9938,9938,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN
26,sub-OAS30241_ses-d3607_acq-FDG_pet,OAS30241,3607,OAS30241_UDSd1_d3598,None,NaN,NaN,OAS30241,OAS30241_UDSd1_d3598,3598,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,sub-OAS30403_ses-d2758_acq-FDG_pet,OAS30403,2758,OAS30403_UDSd1_d2277,None,NaN,NaN,OAS30403,OAS30403_UDSd1_d2277,2277,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,sub-OAS30452_ses-d4489_acq-FDG_pet,OAS30452,4489,OAS30452_UDSd1_d4431,None,NaN,NaN,OAS30452,OAS30452_UDSd1_d4431,4431,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN
71,sub-OAS30713_ses-d1853_acq-FDG_pet,OAS30713,1853,OAS30713_UDSd1_d1883,None,NaN,NaN,OAS30713,OAS30713_UDSd1_d1883,1883,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,sub-OAS30717_ses-d2608_acq-FDG_pet,OAS30717,2608,OAS30717_UDSd1_d2460,None,NaN,NaN,OAS30717,OAS30717_UDSd1_d2460,2460,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,sub-OAS30775_ses-d3471_acq-FDG_pet,OAS30775,3471,OAS30775_UDSd1_d3284,None,NaN,NaN,OAS30775,OAS30775_UDSd1_d3284,3284,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN
101,sub-OAS30899_ses-d2471_acq-FDG_pet,OAS30899,2471,OAS30899_UDSd1_d2298,None,NaN,NaN,OAS30899,OAS30899_UDSd1_d2298,2298,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,sub-OAS30959_ses-d3174_acq-FDG_pet,OAS30959,3174,OAS30959_UDSd1_d3314,None,NaN,NaN,OAS30959,OAS30959_UDSd1_d3314,3314,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,sub-OAS31104_ses-d2344_acq-FDG_pet,OAS31104,2344,OAS31104_UDSd1_d2256,None,NaN,NaN,OAS31104,OAS31104_UDSd1_d2256,2256,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
nonNormal[nonNormal["DEMENTED"] == 1]

,StudyID,OASISID_x,days_to_visit_x,matched_diagnosis_session_label,Group,Sex,Age,OASISID_y,OASIS_session_label,days_to_visit_y,...,schizoif,anxiet,anxietif,delir,delirif,ptsddx,ptsddxif,alcabuse,impsub,impsubif
23,sub-OAS30194_ses-d9874_acq-FDG_pet,OAS30194,9874,OAS30194_UDSd1_d9938,None,NaN,NaN,OAS30194,OAS30194_UDSd1_d9938,9938,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN
101,sub-OAS30899_ses-d2471_acq-FDG_pet,OAS30899,2471,OAS30899_UDSd1_d2298,None,NaN,NaN,OAS30899,OAS30899_UDSd1_d2298,2298,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
nonNormal[nonNormal["amndem"] == 1]

,StudyID,OASISID_x,days_to_visit_x,matched_diagnosis_session_label,Group,Sex,Age,OASISID_y,OASIS_session_label,days_to_visit_y,...,schizoif,anxiet,anxietif,delir,delirif,ptsddx,ptsddxif,alcabuse,impsub,impsubif
23,sub-OAS30194_ses-d9874_acq-FDG_pet,OAS30194,9874,OAS30194_UDSd1_d9938,None,NaN,NaN,OAS30194,OAS30194_UDSd1_d9938,9938,...,NaN,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN

In [91]:
nonNormal.to_csv("/Users/hugom/PET-IA/Sets/oasis3-cognitively-anormal.csv")

# Fleni600

In [2]:
fleni600 = pd.read_csv("/Users/hugom/PET-IA/Full-DBs/fleni600.csv")

In [6]:
fleni600

,Unnamed: 0,StudyDate,anon_id,PatientID,PatientSex,PatientName,Conclusion,Diagnóstico
0,238,20200825,625ddb3f-6b6adb4a-0653c1b1-1e566cc8-3fe2fab5,702774,M,WANGER^WALTER ROBERTO,-ALa distribución espacial de los hallazgos ...,AD
1,234,20201006,c45568f2-c860c13b-ddabe3eb-7bc72f65-dc96ba33,701575,F,RUBIO^MARIA ALEJANDRA,-ALa distribución espacial de los hallazgos ...,AD
2,435,20190426,b0e1b100-f29d020b-07fb9c16-bb41abdc-43d7b0e8,597445,F,BRALO^ALICIA ESTER,-ALa distribución espacial de los hallazgos ...,AD
3,247,20200804,ee1769c5-189b12d7-187a454e-f13189f4-19f82052,554900,M,LOBOS^ANIBAL PEDRO,Amiloidosis cortical difusa en el presente e...,AD
4,387,20190718,ec84b311-4f89bd80-bfd691ed-bb1cd2f4-c700b95c,655037,F,SANCHEZ^MARCELA ADRIANA,Amiloidosis cortical difusa en el presente e...,AD
...,...,...,...,...,...,...,...,...
1610,1610,20130215,394f9c0f-407407df-924d39d5-385898a0-103e5c19,474496,M,RIVAROLA^HUGO EUGENIO,NaN,NaN
1611,1611,20130221,2137659d-aa1d903d-beb5a549-8d252a72-a903e6a2,266991,F,BER^PATRICIA,NaN,NaN
1612,1612,20130227,291a10ba-ca622d77-7eb09271-f0948eeb-745ef704,475954,M,GALOSI JUAN CARLOS,NaN,NaN
1613,1613,20130205,667cb287-d9eee39e-e4a18254-beebf4c8-52aa0723,188881,F,VENANCIO^MARIA ALEJANDRA,NaN,NaN
1614,1614,20130123,419fb7ba-a7646e04-81c8b19d-ac69325b-95b07fef,469780,F,MARTIN^MARIA LUISA,NaN,NaN

In [3]:
fleni600.describe()

        Unnamed: 0     StudyDate
count  1615.000000  1.615000e+03
mean    807.000000  2.017275e+07
std     466.354658  2.851045e+04
min       0.000000  2.011102e+07
25%     403.500000  2.015053e+07
50%     807.000000  2.017081e+07
75%    1210.500000  2.019117e+07
max    1614.000000  2.023021e+07

In [4]:
fleni600.head()

,Unnamed: 0,StudyDate,anon_id,PatientID,PatientSex,PatientName,Conclusion,Diagnóstico
0,238,20200825,625ddb3f-6b6adb4a-0653c1b1-1e566cc8-3fe2fab5,702774,M,WANGER^WALTER ROBERTO,-ALa distribución espacial de los hallazgos ...,AD
1,234,20201006,c45568f2-c860c13b-ddabe3eb-7bc72f65-dc96ba33,701575,F,RUBIO^MARIA ALEJANDRA,-ALa distribución espacial de los hallazgos ...,AD
2,435,20190426,b0e1b100-f29d020b-07fb9c16-bb41abdc-43d7b0e8,597445,F,BRALO^ALICIA ESTER,-ALa distribución espacial de los hallazgos ...,AD
3,247,20200804,ee1769c5-189b12d7-187a454e-f13189f4-19f82052,554900,M,LOBOS^ANIBAL PEDRO,Amiloidosis cortical difusa en el presente e...,AD
4,387,20190718,ec84b311-4f89bd80-bfd691ed-bb1cd2f4-c700b95c,655037,F,SANCHEZ^MARCELA ADRIANA,Amiloidosis cortical difusa en el presente e...,AD

In [12]:
len(fleni600["PatientID"].unique())

1419

In [13]:
len(fleni600["anon_id"].unique())

1615

In [14]:
fleni600['Diagnóstico'].describe()

count     638
unique      2
top        AD
freq      341
Name: Diagnóstico, dtype: object

In [16]:
fleni600.groupby("Diagnóstico").describe()

            Unnamed: 0                                                     \
                 count        mean         std   min    25%    50%    75%
Diagnóstico
AD               341.0  493.800587  290.436408   1.0  229.0  526.0  720.0
non-AD           297.0  534.670034  300.342314  13.0  289.0  523.0  788.0

                    StudyDate                                         \
                max     count          mean          std         min
Diagnóstico
AD           1042.0     341.0  2.018425e+07  22357.84306  20141104.0
non-AD       1485.0     297.0  2.018099e+07  22260.91047  20150127.0


                    25%         50%         75%         max
Diagnóstico
AD           20170202.0  20180628.0  20201026.0  20221216.0
non-AD       20160728.0  20180705.0  20200120.0  20230105.0

In [17]:
fleni600.groupby(["PatientSex", "Diagnóstico"]).describe()

                       Unnamed: 0                                        \
                            count        mean         std   min     25%
PatientSex Diagnóstico
F          AD               188.0  508.250000  286.190816   2.0  273.75
           non-AD           128.0  565.164062  321.103579  14.0  283.75
M          AD               153.0  476.045752  295.541126   1.0  214.00
           non-AD           169.0  511.573964  282.389900  13.0  296.00

                                              StudyDate                \
                          50%     75%     max     count          mean
PatientSex Diagnóstico
F          AD           536.0  721.50  1042.0     188.0  2.018296e+07
           non-AD       602.5  904.75  1024.0     128.0  2.017870e+07
M          AD           524.0  716.00  1040.0     153.0  2.018585e+07
           non-AD       490.0  739.00  1485.0     169.0  2.018273e+07

                                                                           \
                                 std         min          25%         50%
PatientSex Diagnóstico
F          AD           21932.984028  20141104.0  20170179.75  20180559.0
           non-AD       24210.907098  20150127.0  20151110.50  20171108.5
M          AD           22840.073974  20141104.0  20170216.00  20180726.0
           non-AD       20565.922453  20150129.0  20161110.00  20181102.0


                                75%         max
PatientSex Diagnóstico
F          AD           20200217.25  20221216.0
           non-AD       20200149.75  20230105.0
M          AD           20201209.00  20221216.0
           non-AD       20191223.00  20221229.0

In [19]:
fleni600.groupby("PatientName").describe()

                          Unnamed: 0                                      \
                               count    mean std     min     25%     50%
PatientName
ABALO^CAMILA DOLORES             1.0  1055.0 NaN  1055.0  1055.0  1055.0
ABD^MIGUEL ANGEL                 1.0  1006.0 NaN  1006.0  1006.0  1006.0
ABLIN^ABEL SAUL                  1.0   321.0 NaN   321.0   321.0   321.0
ABRAHAM^BERTA GUILLERMINA        1.0    62.0 NaN    62.0    62.0    62.0
ABRAHAM^LILIA MABEL              1.0   212.0 NaN   212.0   212.0   212.0
...                              ...     ...  ..     ...     ...     ...
ZUBILLAGA^MARIA AMELIA           1.0   425.0 NaN   425.0   425.0   425.0
ZUCATTI^STELLE AURORA            1.0  1003.0 NaN  1003.0  1003.0  1003.0
ZUNINO^MARIA INES                1.0    21.0 NaN    21.0    21.0    21.0
ZURETTI^MIGUEL ANGEL             1.0   608.0 NaN   608.0   608.0   608.0
ZYTLER ELBA                      1.0  1094.0 NaN  1094.0  1094.0  1094.0

                                          StudyDate                  \
                              75%     max     count        mean std
PatientName
ABALO^CAMILA DOLORES       1055.0  1055.0       1.0  20141016.0 NaN
ABD^MIGUEL ANGEL           1006.0  1006.0       1.0  20150416.0 NaN
ABLIN^ABEL SAUL             321.0   321.0       1.0  20191025.0 NaN
ABRAHAM^BERTA GUILLERMINA    62.0    62.0       1.0  20220610.0 NaN
ABRAHAM^LILIA MABEL         212.0   212.0       1.0  20201201.0 NaN
...                           ...     ...       ...         ...  ..
ZUBILLAGA^MARIA AMELIA      425.0   425.0       1.0  20190426.0 NaN
ZUCATTI^STELLE AURORA      1003.0  1003.0       1.0  20150421.0 NaN
ZUNINO^MARIA INES            21.0    21.0       1.0  20221031.0 NaN
ZURETTI^MIGUEL ANGEL        608.0   608.0       1.0  20171201.0 NaN
ZYTLER ELBA                1094.0  1094.0       1.0  20140529.0 NaN

                                                                           \
                                  min         25%         50%         75%
PatientName
ABALO^CAMILA DOLORES       20141016.0  20141016.0  20141016.0  20141016.0
ABD^MIGUEL ANGEL           20150416.0  20150416.0  20150416.0  20150416.0
ABLIN^ABEL SAUL            20191025.0  20191025.0  20191025.0  20191025.0
ABRAHAM^BERTA GUILLERMINA  20220610.0  20220610.0  20220610.0  20220610.0
ABRAHAM^LILIA MABEL        20201201.0  20201201.0  20201201.0  20201201.0
...                               ...         ...         ...         ...
ZUBILLAGA^MARIA AMELIA     20190426.0  20190426.0  20190426.0  20190426.0
ZUCATTI^STELLE AURORA      20150421.0  20150421.0  20150421.0  20150421.0
ZUNINO^MARIA INES          20221031.0  20221031.0  20221031.0  20221031.0
ZURETTI^MIGUEL ANGEL       20171201.0  20171201.0  20171201.0  20171201.0
ZYTLER ELBA                20140529.0  20140529.0  20140529.0  20140529.0


                                  max
PatientName
ABALO^CAMILA DOLORES       20141016.0
ABD^MIGUEL ANGEL           20150416.0
ABLIN^ABEL SAUL            20191025.0
ABRAHAM^BERTA GUILLERMINA  20220610.0
ABRAHAM^LILIA MABEL        20201201.0
...                               ...
ZUBILLAGA^MARIA AMELIA     20190426.0
ZUCATTI^STELLE AURORA      20150421.0
ZUNINO^MARIA INES          20221031.0
ZURETTI^MIGUEL ANGEL       20171201.0
ZYTLER ELBA                20140529.0

[1417 rows x 16 columns]